/* location ---- Start */

#locationWrap {
    text-align: center;
    margin-top: 24px;
    margin-bottom: 72px;
}

#locationWrap ul li { display: inline-block; }
#locationWrap p { display: table-cell; vertical-align: middle; }
.location-home { width: 24px; height: 24px; }
.location-arrow { width: 24px; height: 24px; }

/* location ---- End */





