#upArrowBtnWrap {
    position: fixed;
    bottom: 400px;
    height: 56px;
    width: 100%;
    z-index: 1000;
    display: none;
}

#upArrowBtn {
    position: relative;
    width: 1328px;
    margin: 0 auto;
}

#upArrowBtn img {
    position: absolute;
    right: 0px;
}




#SMfooter {
    position: relative;
    bottom: 0px;
    width: 100%;
    height: 247px;
    background-color: var(--495057);
    min-width: 1164px;
}


#SMfooterLine {
    position: absolute;
    /* top: 50%; */
    left: 50%;
    width: 1160px;
    height: 100%;
    margin-left: -580px;
    /* margin-top: -337px; */
    border-left: 1px solid rgba(255,255,255,0.15);
    border-right: 1px solid rgba(255,255,255,0.15);
}


.SMfooter-usisnet-logo-white {
    width: 141px;
    object-fit: contain;
}

#Footer-copyright {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 48px;
    background-color: var(--41484-e);
    /*border-top: 1px solid rgba(255,255,255,0.15);*/
}

#Footer-copyright-txt {
    position: relative;
    text-align: center;
    top: 18px;
}





/* SMfooter-list ---- Start */

#SMfooter-list {
    position: absolute;
    left: 50%;
    width: 1160px;
    height: 247px;
    margin-left: -580px;  
}

#SMfooter-list ul {
    position: absolute;
    display: inline-block;
}

#SMfooter-list ul li {
    display: inline-block;
}

/*#SMfooter-list ul li:after {
    display: block;
    clear: both;
    content: '';
}*/

#SMfooter-list01 {
    position: absolute;
    top: 74px;
    /*margin-left: 24px;*/
    width: 324px;
}

#SMfooter-list01 li {
    display: inline-block;
}

#SMfooter-list01-logo {
    margin-bottom: 16px;
}

#SMfooter-list01-tel{
    margin-right: 8px;
}

#SMfooter-list01-fax{
    margin-right: 8px;
}

#SMfooter-list01-email{
    margin-right: 8px;
}

#SMfooter-list01-adr::before {
    display: inline-block;
    content:url('../images/main/ic-add-location.svg');
    width: 16px;
    height: 16px;
    vertical-align: -2px;
    padding-right: 4px;
    object-fit: contain;
}

#SMfooter-list01-tel::before {
    display: inline-block;
    content:url('../images/main/ic-phone.svg');
    width: 16px;
    height: 16px;
    vertical-align: -2px;
    padding-right: 4px;
    object-fit: contain;
}


#SMfooter-list01-fax::before {
    display: inline-block;
    content:url('../images/main/ic-print.svg');
    width: 16px;
    height: 16px;
    vertical-align: -2px;
    padding-right: 4px;
    object-fit: contain;
}

#SMfooter-list01-email::before {
    display: inline-block;
    content:url('../images/main/ic_email.svg');
    width: 16px;
    height: 16px;
    vertical-align: -2px;
    padding-right: 4px;
    object-fit: contain;
}


#SMfooter-list02 {
    position: absolute;
    top: 56px;
    left: 336px  
}

#SMfooter-list02 li:nth-child(1) {
    width: 300px;
    height: 135px;
}

#SMfooter-list02 li:nth-child(2) {
    width: 300px;
    height: 135px;
    margin-left: 12px;
    /*margin-bottom: 16px;*/
}

#SMfooter-list02 li:nth-child(3) {
    margin-left: 12px;
}

/*#SMfooter-list02 {
    position: relative;
    top: 38px;
    width: 404px;
    height: auto;
    margin-left: 446px; 
    text-align: left;    
}

#SMfooter-list02 li {
    display: inline-block;
}

#SMfooter-list02 > li:first-child {
    margin-bottom: 8px;
}

#SMfooter-list02 li:nth-child(2) ul li:first-child {
    margin-right: 8px;
}

#SMfooter-list02 li:nth-child(2) ul li:nth-child(2) {
    margin-right: 0px;
}

#SMfooter-list02 li:nth-child(3) ul li:first-child{
    margin-right: 8px;
}

#SMfooter-list02 li:nth-child(3) li:nth-child(2)  {
    margin-right: 0px;
}

#SMfooter-list02 li:nth-child(3) {
    margin-bottom: 8px;
}

#SMfooter-list02-email::before {
    display: inline-block;
    content:url('../images/main/ic_email.svg');
    width: 16px;
    height: 16px;
    vertical-align: -2px;
    padding-right: 4px;
    object-fit: contain;
}

#SMfooter-list02-fax::before {
    display: inline-block;
    content:url('../images/main/ic-print.svg');
    width: 16px;
    height: 16px;
    vertical-align: -2px;
    padding-right: 4px;
    object-fit: contain;
}

#SMfooter-list02 li:nth-child(4) ul li:first-child {
    margin-right: 6px;
}

#SMfooter-list02 li:nth-child(4) ul li:nth-child(2) {
    margin-right: 0px;
}*/

#SMfooter-btn01 {
    width: 224px;
    height: 40px;
    background-image: url('../images/smain/down-mini.png');
    object-fit: contain;
}

#SMfooter-btn02 {
    width: 165px;
    height: 40px;
    background-image: url('../images/smain/down-team.png');
    object-fit: contain;
}

#SMfooter-btn01 a {
    display: block;
    width: 224px;
    height: 40px;
}

#SMfooter-btn02 a {
    display: block;
    width: 165px;
    height: 40px;
}

#SMfooter-btn01 a:hover {
    background-image: url('../images/smain/down-mini_y.png');
}

#SMfooter-btn02 a:hover {
    background-image: url('../images/smain/down-team_y.png');
}

/* SMfooter-list ---- End */
