#SMheader01 {
    position: relative;
    width: 100%;
    height: 432px;
    background-image: url(../images/smain/smain01/top-bg-1.png);
    background-repeat: no-repeat;
    object-fit: contain;
    background-size:cover;
    background-position: center;
}

#SMheaderLine {
    position: absolute;
    /* top: 50%; */
    left: 50%;
    width: 1160px;
    height: 100%;
    margin-left: -580px;
    /* margin-top: -337px; */
    border-left: 1px solid rgba(255,255,255,0.15);
    border-right: 1px solid rgba(255,255,255,0.15);
}

#SMheader01 .SMbg {
    position: absolute;
    top: 50%;
    left: 50%;
}

#SMheader01 .SMbg li { position: absolute; }

#SMheader01 .SMbg li:first-child img {
    width: 326px;   
    margin-left: -163px;
    margin-top: -180px;
    object-fit: contain;
    opacity: 0.6;
}

#SMheader01 .SMbg li:nth-child(2) img {
    width: 1240px;
    margin-left: -620px;
    margin-top: -110px;
}

#SMheader01 .SMbg li:nth-child(3) img {
    width: 624px;
    margin-left: -312px;
    margin-top: -110px;
}


#SMheader01-top {
    position: relative;
    width: 1160px;
    height: 48px;
    margin: 0 auto;
    z-index: 1000;
}

.SMheader01-top-logo {
    position: relative;
    display: inline-block;
    float: left;
    padding: 16px 0 0 16px;
    /*width: 111.3px;
    height: 32px;*/
    object-fit: contain;
}

.SMheader01-usisnet-logo-white {
    /*width: 111.3px;*/
    height: 40px;
    object-fit: contain;
}

#SMheader01-top ul {
    position: absolute;
    right: 0px;
    padding: 16px 16px 0 0;
}

#SMheader01-top ul li { position: relative; display: inline-block; }


#SMheader01-top ul li:nth-child(2) a::before{
    display: inline-block;
    content: '';
    margin: 0 12px 0 8px;
    width: 1px;
    height: 11px;
    vertical-align: -1px;
    background-color: var(--ffffff);
    opacity: 0.6;
}





#conMtitleWrap { margin-bottom: 72px; }


/* conTitleImg ---- Start */

#conTitleImg {
    position: relative;
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    object-fit: contain;
    background-size:cover;
    margin-bottom: 120px;
    background-position: center;
}


.conTitleImg01 { background-image: url(../images/smain/smain01/affiliated_store_con_img01.png); }
.conTitleImg02 { background-image: url(../images/smain/smain01/affiliated_store_con_img02.png); }
.conTitleImg03 { background-image: url(../images/smain/smain01/affiliated_store_con_img03.png); }
.conTitleImg04 { background-image: url(../images/smain/smain01/affiliated_store_con_img04.png); }
.conTitleImg05 { background-image: url(../images/smain/smain01/affiliated_store_con_img05.png); }
.conTitleImg06 { background-image: url(../images/smain/smain01/affiliated_store_con_img06.png); }


#conTitleImgTxt {
    width: 100%;
    height: 200px;
    display: table;
}

#conTitleImgTxt ul {
    display: table-cell;
    vertical-align: middle;
}

#conTitleImgTxt ul li {
    text-align: center;    
}

/* conTitleImg ---- End */



#conWrap {
    position: relative;
    width: 100%;
    margin-top: 120px;
    margin-bottom: 341px;
}


#contents {
    position: relative;
    width: 1160px;
    margin: 0 auto;
}

/* #affContents #contents {
    margin-bottom: 120px;
} */


/* 01 개요 ---- Start */

#affContentsTxtBox010101con01 img { width: 100%; }
#affContentsTxtBox010102con01 img { width: 100%; }

#affContentsTxtBox010101 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 72px;
}

#affContentsTxtBox010101 ul {
    width: 376px;
    height: 442px;
    margin-right: 16px;
    margin-bottom: 16px;
    border-radius: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
    border: solid 1px var(--e-9-ecef);
    background-color: var(--ffffff);
    text-align: center;
}

#affContentsTxtBox010101 ul:last-child { margin-right: 0px; }
#affContentsTxtBox010101 ul li:first-child { margin-top: 56px; margin-bottom: 40px; }
#affContentsTxtBox010101 ul li:nth-child(2) { margin-bottom: 24px; }
#affContentsTxtBox010101 ul li:first-child img { width: 140px; height: 140px; }



/* 01 개요 ---- End */


/* 02 신청방법 ---- Start */


.item2 li { width: calc(100% / 2); }
.item3 li { width: calc(100% / 3); }
.item4 li { width: calc(100% / 4); }
.item5 li { width: calc(100% / 5); }


.tab_Content_Wrap {
    overflow: hidden;
    width: 1160px;
    max-width: 100%;
    margin: 0 auto 120px auto;
}

.tab_Content_Wrap div > img {
    width: 100%;
    /* margin: 0 auto 80px auto; */
}


.sub_tab01 {
    overflow: hidden;
    width: 1160px;
    max-width: 100%;
    margin: 0 auto 80px auto;
}

.sub_tab01:after {
    display: block;
    clear: both;
    content: '';
}




#affContentsTxtBox010201 { margin-bottom: 56px; }
#affContentsTxtBox010201 ul:first-child li:first-child { 
    padding-left: 24px;
    padding-bottom: 16px;
    background: url('../images/smain/smain01/aff_con_ic01.png') no-repeat left 8px;
}
#affContentsTxtBox010201 ul:first-child li:nth-child(2) { padding-right: 8px; margin-bottom: 56px;}


#affContentsTxtBox010201 ul:nth-child(2) li:first-child { 
    padding-left: 20px;
    padding-bottom: 8px;
    background: url('../images/smain/smain01/aff_con_ic02.png') no-repeat left 8px;
}

#affContentsTxtBox010201 ul:nth-child(2) li:nth-child(2) { margin-bottom: 16px; }







#affContentsTabBox010201 .sub_tab01 li {
    float: left;
    border: 1px solid var(--light-grey-blue);
    height: 64px;
    line-height: 64px;
    margin-left: -1px;
}

#affContentsTabBox010201 .sub_tab01 li:first-child {
    margin-left: 0;
}

#affContentsTabBox010201 .sub_tab01 li a {
    font-family: NotoSansCJKkr;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -0.8px;
    color: var(--343-a-40);
    text-align: center;
    display: block;
}

#affContentsTabBox010201 .sub_tab01 li.current01 {
    border: 1px solid var(--16-a-085);
    position: relative;
    z-index: 1;
    background-color: var(--16-a-085);
}

#affContentsTabBox010201 .sub_tab01 li.current01 a {
    color: #fff;
}




.sub_tab02 {
    overflow: hidden;
    width: 1160px;
    max-width: 100%;
    margin: 0 auto 80px auto;
}

.sub_tab02:after {
    display: block;
    clear: both;
    content: '';
}









#affContentsTxtBox010202 { margin-top: 120px; }
#affContentsTxtBox010202 ul:first-child li:first-child { 
    padding-left: 24px;
    padding-bottom: 16px;
    background: url('../images/smain/smain01/aff_con_ic01.png') no-repeat left 8px;
}
#affContentsTxtBox010202 ul:first-child li:nth-child(2) { padding-right: 8px; margin-bottom: 56px;}

#affContentsTxtBox010202 ul:nth-child(2) li:first-child { 
    padding-left: 20px;
    padding-bottom: 8px;
    background: url('../images/smain/smain01/aff_con_ic02.png') no-repeat left 8px;
}

#affContentsTxtBox010202 ul:nth-child(2) li:nth-child(2) { margin-bottom: 16px; }







#affContentsTabBox010202 .sub_tab02 li {
    float: left;
    border: 1px solid var(--light-grey-blue);
    height: 64px;
    line-height: 64px;
    margin-left: -1px;
}

#affContentsTabBox010202 .sub_tab02 li:first-child {
    margin-left: 0;
}

#affContentsTabBox010202 .sub_tab02 li a {
    font-family: NotoSansCJKkr;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -0.8px;
    color: var(--343-a-40);
    text-align: center;
    display: block;
}

#affContentsTabBox010202 .sub_tab02 li.current02 {
    border: 1px solid var(--16-a-085);
    position: relative;
    z-index: 1;
    background-color: var(--16-a-085);
}

#affContentsTabBox010202 .sub_tab02 li.current02 a {
    color: #fff;
}









/* 02 신청방법 ---- End */






/* 03 계약사항 ---- Start */
#affContentsTxtBox010301 {
    width: 964px;
    height: 336px;
    margin: 0 auto;
    padding-top: 44px;
    background-image: url(../images/smain/smain01/affContentsImg010301bg.png);
    background-repeat: no-repeat;
    margin-bottom: 104px;
}

#affContentsTxtBox010301 ul { text-align: center; }
#affContentsTxtBox010301 ul li:nth-child(2) { margin-top: 24px; }
#affContentsTxtBox010301 ul li:nth-child(2) span {
    background-color: var(--16-a-085);
    padding: 12px 40px;
    border-radius: 80px;
}
#affContentsTxtBox010301 ul li:nth-child(3) { margin-top: 24px }


#affContentsTxtBox010302 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 72px;
}

#affContentsTxtBox010302 ul {
    width: 376px;
    height: 442px;
    margin-right: 16px;
    margin-bottom: 16px;
    border-radius: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
    border: solid 1px var(--e-9-ecef);
    background-color: var(--ffffff);
    text-align: center;
}

#affContentsTxtBox010302 ul:last-child { margin-right: 0px; }

#affContentsTxtBox010302 ul li:first-child { margin-top: 56px; margin-bottom: 40px; }

#affContentsTxtBox010302 ul li:nth-child(2) { margin-bottom: 24px; }

#affContentsTxtBox010302 ul li:first-child img { width: 140px; height: 140px; }
/* 
#affContentsTxtBox010303 ul > li > ul > li { 
    display: inline-block;
    padding-bottom: 4px; 
}
#affContentsTxtBox010303 ul > li > ul > li img { 
    margin-bottom: 4px;
    margin-right: 4px;
} */

#affContentsTxtBox010303 li {
    padding-left: 12px;
    padding-bottom: 8px;
    background: url('../images/smain/smain01/aff_con_ic03.png') no-repeat left 10px;
}

/* #affContentsTxtBox010303 li::before {
    content:url('../images/smain/smain01/aff_con_ic03.png');
    width: 4px;
    height: 4px;
    vertical-align: 4px;
    padding-right: 8px;
    object-fit: contain;
} */

/* #affContentsTxtBox010303 li:nth-child(6) {
    padding-bottom: 0px;
}

#affContentsTxtBox010303 li:nth-child(7)::before {
    content:'';
    padding-right: 12px;
} */


/* 03 계약사항 ---- End */






/* 04 운영 ---- Start */

#affContentsTxtBox010401 { margin-bottom: 56px; }
#affContentsTxtBox010401 ul:first-child li { 
    padding-left: 24px;
    padding-bottom: 16px;
    background: url('../images/smain/smain01/aff_con_ic01.png') no-repeat left 8px;
}
/* #affContentsTxtBox010401 ul:first-child li:first-child { padding-right: 8px; } */
/* #affContentsTxtBox010401 ul:nth-child(2) li:first-child { padding-bottom: 16px; } */


#affContentsTxtBox010401con {
    margin-bottom: 120px;
}


#affContentsTxtBox010401con01 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 40px;
}

#affContentsTxtBox010401con01 ul {
    width: 278px;
    height: 300px;
    margin-right: 16px;
    margin-bottom: 16px;
    border-radius: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
    border: solid 1px var(--e-9-ecef);
    background-color: var(--ffffff);
    text-align: center;
}

#affContentsTxtBox010401con01 ul:last-child { margin-right: 0px; }
#affContentsTxtBox010401con01 ul li:first-child { margin-top: 40px; margin-bottom: 16px; }
#affContentsTxtBox010401con01 ul li:nth-child(2) { margin-bottom: 24px; }
#affContentsTxtBox010401con01 ul li:first-child img { width: 120px; height: 120px; }

#affContentsTxtBox010401con02 {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

#affContentsTxtBox010401con02 ul:first-child li:first-child { margin-bottom: 32px; }
#affContentsTxtBox010401con02 ul:first-child li:nth-child(2) { margin-bottom: 24px; }
#affContentsTxtBox010401con02 ul:first-child li:nth-child(3) { margin-bottom: 40px; }
#affContentsTxtBox010401con02 ul:first-child li:nth-child(4) { margin-bottom: 24px; }

#affContentsTxtBox010401con02 ul:last-child li a {
    display: inline-block;
    padding: 8px 20px 8px 28px;
    background-color: var(--16-a-085);   
}

#affContentsTxtBox010401con02 ul:last-child li a::after {
    display: inline-block;
    content: '';
    width: 40px;
    height: 40px;
    background: url('../images/smain/smain01/ic-arrow-right.svg');
    background-repeat: no-repeat;
    background-size: 40px 40px;
    vertical-align: -12px;
}





#affContentsTxtBox010402 { margin-bottom: 56px; }
#affContentsTxtBox010402 ul:first-child li { 
    padding-left: 24px;
    padding-bottom: 16px;
    background: url('../images/smain/smain01/aff_con_ic01.png') no-repeat left 8px;
}
/* #affContentsTxtBox010402 ul:first-child li:first-child { padding-right: 8px; } */
/* #affContentsTxtBox010402 ul:nth-child(2) li:first-child { padding-bottom: 16px; } */


#affContentsTxtBox010402con {
    margin-bottom: 120px;
}


#affContentsTxtBox010402con01 ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 40px;
}

#affContentsTxtBox010402con01 ul li {
    width: 278px;
    height: 90px;
    margin-right: 16px;
    margin-bottom: 8px;
}

#affContentsTxtBox010402con01 ul li:last-child {
    margin-right: 0px;
}

#affContentsTxtBox010402con02 {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

#affContentsTxtBox010402con02 ul:first-child li:first-child { margin-bottom: 32px; }

#affContentsTxtBox010402con02 ul:last-child li a {
    padding: 16px 24px;
    background-color: var(--16-a-085);   
}

#affContentsTxtBox010402con02 ul:last-child li a::after {
    display: inline-block;
    content: '';
    width: 40px;
    height: 40px;
    background: url('../images/smain/smain01/ic-arrow-right.svg');
    background-repeat: no-repeat;
    background-size: 40px 40px;
    vertical-align: -12px;
}



#affContentsTxtBox010403 { margin-bottom: 56px; }
#affContentsTxtBox010403 ul:first-child li { 
    padding-left: 24px;
    padding-bottom: 16px;
    background: url('../images/smain/smain01/aff_con_ic01.png') no-repeat left 8px;
}
/* #affContentsTxtBox010403 ul:first-child li:first-child { padding-right: 8px; } */
/* #affContentsTxtBox010403 ul:nth-child(2) li:first-child { padding-bottom: 16px; } */

#affContentsTxtBox010403 ul:nth-child(2) li:first-child { 
    padding-left: 20px;
    padding-bottom: 8px;
    background: url('../images/smain/smain01/aff_con_ic02.png') no-repeat left 8px;
}

#affContentsTxtBox010403 ul:nth-child(2) li:nth-child(2) {
    margin-bottom: 16px;
} 

#affContentsTxtBox010403 ul:nth-child(3) li:first-child { 
    padding-left: 20px;
    padding-bottom: 8px;
    background: url('../images/smain/smain01/aff_con_ic02.png') no-repeat left 8px;
}

/* 04 운영 ---- End */






/* 05 오류 시 조치 방법 ---- Start */
#qna {
    width: 100%
}

#qna ul {
    border-top: solid 1px rgba(0,0,0,0.1);
}

#qna > ul:first-child {
    border-top: solid 2px var(--495057);
}


.accordion_last {
    width: 100%;
    height: 2px;
    background-color: var(--495057);
}

.accordion {
    background-color: #fff;
    color: #444;
    cursor: pointer;
    width: 100%;
    height: 64px;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
    /* border-top: solid 1px rgba(0,0,0,0.1); */
  }

.accordion li {
    display: inline-block;
    margin-top: 12px;    
}

.accordion li:first-child {
    padding: 4px 10px 4px 37px;
    background-color: var(--495057);
}

.accordion li:nth-child(2){
    padding-left: 16px;
}

.qnaOn, .accordion:hover {
    background-color: #f8f8f8; 
}

.accordion:after {
    content: url('../images/smain/smain01/ic-arrow-circle-down.svg'); 
    float: right;
    margin-top: 26px;
    margin-right: 16px;
}

.qnaOn:after {
    content: url('../images/smain/smain01/ic-arrow-circle-up.svg');
}

.panel {
    /* padding: 16px 24px; */
    display: none;
    background-color: white;
    overflow: hidden;
    border-top: solid 1px rgba(0,0,0,0.1);
}

/* .panel li {
    display: inline-block;
    margin-top: 12px;
    margin-bottom: 56px;
}

.panel li:first-child {
    padding: 2px 12px 2px 37px;
    background-color: var(--0383-f-0);
} */

.panel li { 
    padding: 12px 8px 40px 88px;
    background: url('../images/smain/smain01/qna_a.png') no-repeat left 12px;
}




/* 05 오류 시 조치 방법 ---- End */






/* 06 After Service ---- Start */

.sub_tab0106 {
    overflow: hidden;
    width: 1160px;
    max-width: 100%;
    margin: 0 auto 80px auto;
}

.sub_tab0106:after {
    display: block;
    clear: both;
    content: '';
}



#astab .sub_tab0106 li {
    float: left;
    border: 1px solid var(--light-grey-blue);
    height: 64px;
    line-height: 64px;
    margin-left: -1px;
}

#astab .sub_tab0106 li:first-child {
    margin-left: 0;
}

#astab .sub_tab0106 li a {
    font-family: NotoSansCJKkr;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -0.8px;
    color: var(--343-a-40);
    text-align: center;
    display: block;
}

#astab .sub_tab0106 li.current0106 {
    border: 1px solid var(--16-a-085);
    position: relative;
    z-index: 1;
    background-color: var(--16-a-085);
}

#astab .sub_tab0106 li.current0106 a {
    color: #fff;
}




#asTab01060101 { margin-bottom: 64px; }
#asTab01060101 ul:first-child li { 
    padding-left: 24px;
    padding-bottom: 16px;
    background: url('../images/smain/smain01/aff_con_ic01.png') no-repeat left 8px;
}
#asTab01060101 ul:first-child li:first-child { padding-right: 8px; margin-bottom: 40px;}

/* #asTab01060101 img {
    width: 100%;
    margin-bottom: 120px;
} */

#asTab01060102 { margin-bottom: 64px; }
#asTab01060102 ul:first-child li { 
    padding-left: 24px;
    padding-bottom: 16px;
    background: url('../images/smain/smain01/aff_con_ic01.png') no-repeat left 8px;
}
#asTab01060102 ul:first-child li:first-child { padding-right: 8px; }




/* #asTab01060103 { margin-bottom: 120px; } */
#asTab01060103 ul:first-child li { 
    padding-left: 24px;
    padding-bottom: 16px;
    background: url('../images/smain/smain01/aff_con_ic01.png') no-repeat left 8px;
}
/* #asTab01060103 ul:first-child li:first-child { padding-right: 8px; } */
/* #asTab01060103 ul:nth-child(2) li:first-child { padding-bottom: 16px; } */

#asTab01060103 ul:nth-child(2) li:first-child { 
    padding-left: 20px;
    padding-bottom: 8px;
    background: url('../images/smain/smain01/aff_con_ic02.png') no-repeat left 8px;
}

#asTab01060103 ul:nth-child(2) li:nth-child(2) {
    margin-bottom: 16px;
} 

#asTab01060103 ul:nth-child(3) li:first-child { 
    padding-left: 20px;
    padding-bottom: 8px;
    background: url('../images/smain/smain01/aff_con_ic02.png') no-repeat left 8px;
}
#asTab01060103 ul:nth-child(3) li:nth-child(2) { margin-bottom: 16px; }

#asTab01060103 ul:last-child li { 
    padding-left: 12px;
    padding-bottom: 8px;
    background: url('../images/smain/smain01/aff_con_ic03.png') no-repeat left 10px;
}



#asTab01060201 ul:first-child li { 
    padding-left: 12px;
    padding-bottom: 8px;
    background: url('../images/smain/smain01/aff_con_ic03.png') no-repeat left 10px;
}
#asTab01060201 ul:first-child {
    margin-bottom: 80px;
}




#asTab01060202 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    /* height: 424; */
}

#asTab01060202 ul {
    margin: 0 auto;
    margin-bottom: 24px;
}

#asTab01060202 ul li {
    text-align: center;
}

#asTab01060202 .asTab0106020201 {
    width: 376px;
    height: 409px;
    border-radius: 8px;
    box-shadow: 4px 8px 8px 0 rgba(0, 0, 0, 0.08);
    border: solid 1px #f26522;
    background-color: var(--ffffff);
}

#asTab01060202 .asTab0106020201 img {
    width: 88px;
    padding-top: 48px;
    padding-bottom: 16px;
}

#asTab01060202 .asTab0106020201 li:first-child {
    padding-top: 48px;
}


#asTab01060202 .asTab0106020202 {
    width: 376px;
    height: 409px;
    border-radius: 8px;
    box-shadow: 4px 8px 8px 0 rgba(0, 0, 0, 0.08);
    border: solid 1px var(--0383-f-0);
    background-color: var(--ffffff);
}

#asTab01060202 .asTab0106020202 img {
    width: 220px;
    padding-top: 72px;
    padding-bottom: 16px;
}

#asTab01060202 .asTab0106020202 li:first-child {
    padding-top: 48px;
}







#asTab01060301 ul:first-child li { 
    padding-left: 12px;
    padding-bottom: 8px;
    background: url('../images/smain/smain01/aff_con_ic03.png') no-repeat left 10px;
}
#asTab01060301 ul:first-child {
    margin-bottom: 80px;
}



#asTab01060302 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    /* height: 424; */
}

#asTab01060302 ul {
    margin: 0 auto;
    margin-bottom: 24px;
}

#asTab01060302 ul li {
    text-align: center;
}

#asTab01060302 .asTab0106030201 {
    width: 376px;
    height: 409px;
    border-radius: 8px;
    box-shadow: 4px 8px 8px 0 rgba(0, 0, 0, 0.08);
    border: solid 1px #f26522;
    background-color: var(--ffffff);
}

#asTab01060302 .asTab0106030201 img {
    width: 176px;
    padding-top: 85px;
    padding-bottom: 16px;
}




#asTab01060401 ul:first-child li:first-child { 
    padding-left: 24px;
    padding-bottom: 16px;
    background: url('../images/smain/smain01/aff_con_ic01.png') no-repeat left 8px;
    margin-bottom: 40px;
}
/* #asTab01060401 ul:first-child {
    margin-bottom: 80px;
} */



.margin-b8 { margin-bottom: 8px; }
.margin-b16 { margin-bottom: 16px; }
.margin-b24 { margin-bottom: 24px; }
.margin-b56 { margin-bottom: 56px; }
.margin-b80 { margin-bottom: 80px; }
.margin-b120 { margin-bottom: 120px; }

.margin-t16 { margin-top: 16px; }
.margin-t32 { margin-top: 32px; }
.margin-t48 { margin-top: 48px; }
.margin-t56 { margin-top: 56px; }
.margin-t62 { margin-top: 62px; }
.margin-t80 { margin-top: 80px; }

.txt_ic01 { 
    padding-left: 28px;
    padding-bottom: 16px;
    background: url('../images/smain/smain01/aff_con_ic01.png') no-repeat left 8px;
}

.txt_ic02 { 
    padding-left: 22px;
    padding-bottom: 8px;
    background: url('../images/smain/smain01/aff_con_ic02.png') no-repeat left 8px;
}

.txt_ic03 { 
    padding-left: 16px;
    padding-bottom: 8px;
    background: url('../images/smain/smain01/aff_con_ic03.png') no-repeat left 10px;
}




.areaTabContentWrap {
    /* overflow: hidden; */
    /* width: 1160px; */
    max-width: 100%;
    /* margin: 0 auto 120px auto; */
    margin: 0 auto 0px auto;
}

.areaTabContentWrap div img {
    width: 100%;
}

.areaSubTab {
    /* overflow: hidden; */
    /* width: 1160px; */
    max-width: 100%;
    margin: 0 auto 80px auto;
}

.areaSubTab:after {
    display: block;
    clear: both;
    content: '';
}



#asTab010605 #areaTab {
    margin: 0 auto;
    text-align: center;
}



#asTab010605 .areaSubTab li {
    display: inline-block;
    padding: 4px 24px;
    margin: 0px 0px 16px 0px;
}

#asTab010605 .areaSubTab li:nth-of-type(even) {
    font-family: NotoSansCJKkr;
    font-size: 20px;
    font-weight: 200;
    color: #999;
    padding: 0px 8px;
    margin: 0px 0px;
}



#asTab010605 .areaSubTab li a {
    font-family: NotoSansCJKkr;
    font-size: 20px;
    font-weight: 500;
    color: var(--343-a-40);
}


#asTab010605 .areaSubTab li.areaOn {
    /* border: 1px solid var(--16-a-085); */
    position: relative;
    z-index: 1;
    background-color: var(--16-a-085);
}

#asTab010605 .areaSubTab li.areaOn a {
    color: #fff;
}







/* .areaTabContentWrap ~ div { margin-bottom: 120px; } */
.areaTabContentWrap > div > ul:first-child {
    border-bottom: 2px solid var(--light-grey-blue);
}
.areaTabContentWrap > div > ul:first-child li { 
    padding-left: 24px;
    padding-bottom: 24px;
    background: url('../images/smain/smain01/aff_con_ic01.png') no-repeat left 8px;
    font-family: NotoSansCJKkr;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -0.8px;
    color: var(--343-a-40);
}

.areaTabContentWrap > div > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 30px 40px;
    border-bottom: 1px solid var(--light-grey-blue);
}

.areaTabContentWrap > div > div ul:first-child {
    width: 36%;
    margin-left: 40px;
}

.areaTabContentWrap > div > div ul:first-child li {
    margin-top: 16px;
    padding-bottom: 16px;
    padding-left: 20px;
    background: url('../images/smain/smain01/aff_con_ic02.png') no-repeat left 8px;
    font-family: NotoSansCJKkr;
    font-size: 20px;
    font-weight: 500;
    color: var(--343-a-40);
}


.areaTabContentWrap > div > div ul:nth-child(2) li {
    padding-left: 12px;
    padding-bottom: 8px;
    background: url('../images/smain/smain01/aff_con_ic03.png') no-repeat left 10px;
    font-family: NotoSansCJKkr;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.4px;
    color: var(--495057);
}

.areaTabContentWrap > div > div ul:nth-child(2) li:nth-child(2) {
    padding-bottom: 0px;
} 






/* 06 After Service ---- End */
