#main-wrap {
    position: relative;
    margin: auto;
    width: 1160px;
    height: 73.97vh;
    background-color: #fff;
}


#main-rec01 {
    position: absolute;
    left: -8px;
    top: 12%;    
    width: 8px;
    height: 80px;
    background-color: var(--16-a-085);
    transition: .4s;
}

#main-rec02 {
    position: absolute;
    left: 387px;
    top: 56%;    
    width: 8px;
    height: 56px;
    background-color: var(--pumpkin-orange);
    transition: .4s;
}

#main-rec03 {
    position: absolute;
    left: 1158px;
    top: 24%;    
    width: 8px;
    height: 80px;
    background-color: var(--0383-f-0);
    transition: .4s;
}

.main-rec01-over {
    transition: .4s;
    transform: translateY(320px);
}

.main-rec02-over {
    transition: .4s;
    transform: translateY(120px);
}

.main-rec03-over {
    transition: .4s;
    transform: translateY(200px);
}


/* ------------------------------------------------------------------------------------------------ */

#main-title {
    position: absolute;
    left: 176px;
    bottom: 70%;
    width: 803px;
    /* height: 175px; */
    object-fit: contain;
}



/* ------------------------------------------------------------------------------------------------ */


.main-top {
    position: absolute;
    width: 100%;
    height: 32px;
    z-index: 999;
}

.main-top-logo {
    position: relative;
    display: inline-block;
    float: left;
    padding: 16px 0 0 16px;    
}

.usisnet-logo-color {
    /*width: 111.3px;*/
    height: 40px;
    object-fit: contain;
}

.main-top-right {
    position: relative;
    display: inline-block;
    float: right;
    padding: 16px 16px 0 0;
}

/* .main-top-right::after {
    display: block;
    content: "";
    clear: both;
} */

.main-aboutus-link {
    position: relative;
    display: inline-block;
}

.main-sitemap-link {
    position: relative;
    display: inline-block;
}

.main-sitemap-link::before {
    display: inline-block;
    content: '';
    margin: 0 12px 0 8px;
    width: 1px;
    height: 11px;
    top: 2px;
    background-color: var(--868-e-96);
}

/* ------------------------------------------------------------------------------------------------ */



#main-footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 72px;
    background-color: var(--495057);
}




.main-footer-list {
    width: 100%;
    height: 72px;
    text-align: center;
}

.main-footer-list > ul {
    padding-top: 28px;
}

.main-footer-list > ul > li {
    display: inline-block;
}

#main-footer-list-adr{
    margin-right: 8px;
}
#main-footer-list-adr::before {
    display: inline-block;
    content:url('../images/main/ic-add-location.svg');
    width: 16px;
    height: 16px;
    vertical-align: -2px;
    padding-right: 4px;
    object-fit: contain;
}

#main-footer-list-tel{
    margin-right: 8px;
}
#main-footer-list-tel::before {
    display: inline-block;
    content:url('../images/main/ic-phone.svg');
    width: 16px;
    height: 16px;
    vertical-align: -2px;
    padding-right: 4px;
    object-fit: contain;
}

#main-footer-list-fax{
    margin-right: 8px;
}
#main-footer-list-fax::before {
    display: inline-block;
    content:url('../images/main/ic-print.svg');
    width: 16px;
    height: 16px;
    vertical-align: -2px;
    padding-right: 4px;
    object-fit: contain;
}

.main-footer-copyright {
    width: 100%;
    height: 48px;
    text-align: center;
    background-color: var(--41484-e);
}

.main-footer-copyright > div:first-child {
    top: 0px;
    width: 100%;
    height: 1px;
    opacity: 0.12;
    background-color: var(--ffffff);
}

.main-footer-copyright > div > ul > li {
    display: inline-block;
}

.main-footer-copyright > p {
    padding-top: 16px;
}




/* ------------------------------------------------------------------------------------------------ */



#container {
    /* display: flex;
    flex-direction: row;
    flex-wrap: nowrap; */
    width: 100%;
    /*height: calc(100% - 96px);*/  
}

#main-mbox01 {
    cursor: pointer;
    /* flex: 1;
    display: flex; */
    position: absolute;
    width: 386px;
    height: 100%;
    left: 0px;
    /*bottom: 72px;*/
    border-left: 1px solid #E6E7E8;
}

#main-mbox02 {
    cursor: pointer;
    /* flex: 1;
    display: flex; */
    position: absolute;
    width: 387px;
    height: 100%;
    left: 386px;
    /*bottom: 72px;*/
    border-left: 1px solid #E6E7E8;
    border-right: 1px solid #E6E7E8;
}

#main-mbox03 {
    cursor: pointer;
    /* flex: 1;
    display: flex; */
    position: absolute;
    width: 385px;
    height: 100%;
    left: 773px;
    /*bottom: 72px;*/
    border-right: 1px solid #E6E7E8;
}

.gradient-border {
    /*box-sizing: border-box;
    display: inline-block;
    margin: 10px;
    width: 150px;
    height: 150px;*/
    border-style: solid;
    border-image: linear-gradient(to bottom, #fff 20%, #E6E7E8 100%);
    border-image-slice: 1;
}

.border-top { border-image-width: 1px 0 0 0; }
.border-bottom { border-image-width: 0 0 1px 0; }
.border-left { border-image-width: 0 0 0 1px; }
.border-right { border-image-width: 0 1px 0 0; }
.border-left-right { border-image-width: 0 1px 0 1px; }
.border-all { border-image-width: 20px; }


#main-mbox01:hover {
    background-image: linear-gradient(to bottom, #fff, #FCFEFD, #D8EFEB);
    transition: .4s;
}

#main-mbox02:hover {
    background-image: linear-gradient(to bottom, #fff, #FFFDFB, #FFE9D5);
    transition: .4s;
}

#main-mbox03:hover {
    background-image: linear-gradient(to bottom, #fff, #FDFDFE, #DBEAF3);
    transition: 2s;
}


.main-mbox-btn {
    /* flex: 1;
    align-self: flex-end; */
    position: absolute;
    width: 100%;
    height: 64%;
    bottom: 0px;
    overflow: hidden;
}


#main-mbox01-bg {
    position: absolute;
    left: 120px;
    bottom: 48px;
    opacity: .4;
}

#main-mbox01-people {
    position: absolute;
    left: 64px;
    bottom: 0px;
}


#main-mbox02-bg {
    position: absolute;
    left: 120px;
    bottom: 21px;
    opacity: .4;
}

#main-mbox02-people {
    position: absolute;
    left: 64px;
    bottom: 0px;
}

#main-mbox03-bg {
    position: absolute;
    left: 120px;
    bottom: 0px;
    opacity: .4;
}

#main-mbox03-people {
    position: absolute;
    left: 64px;
    bottom: 0px;
}

.main-mbox-bg {
    filter: grayscale(100%);
    transition: .4s;
}

.main-mbox-bg-over {
    filter: none();
    transition: .4s;
    transition-delay: .16s;
    transform: translateX(-64px);
}

.main-mbox-people {
    filter: grayscale(100%) brightness(130%);
    transition: .4s;
}

.main-mbox-people-over {
    filter: none();
    transition: .32s;
    transition-delay: .1s;
    transform: translateX(-56px);
}


.overbox {
    position: absolute;
    left: 40px;
    width: 350px;
    height: 240px;
    opacity: .0;
    transition: .4s;
}

.overbox-over {
    left: 24px;
    opacity: 1;
    transition: .4s;
    transform: translateX(-48px);
}

.main-txtbox {
    position: absolute;
    padding: 40px 0 0 40px;
    width: 72%;
}

.main-txtbox li {
    margin-bottom: 8px;
    display: inline-block;
}

.main-conbox {
    position: absolute;
    left: 0px;
    bottom: 24%;
    width: 350px;
    height: 240px;
}

#main-conbox-line01 {
    position: absolute;
    left: 160px;
    top: 62px;
    width: 80px;
    height: 3px;
    /*background-color: var(--16-a-085);*/
}

#main-conbox-line02 {
    position: absolute;
    left: 204px;
    top: 62px;
    width: 80px;
    height: 3px;
    /*background-color: var(--pumpkin-orange);*/
}

#main-conbox-line03 {
    position: absolute;
    left: 200px;
    top: 62px;
    width: 80px;
    height: 3px;
    /*background-color: var(--0383-f-0);*/
}

.bg-BlueGreen {background-color: var(--16-a-085);transition: .4s;}
.bg-Orange {background-color: var(--pumpkin-orange);transition: .4s;}
.bg-NavyBlue {background-color: var(--0383-f-0);transition: .4s;}
.bg-Black {background-color: #000;transition: .4s;}

.bg-line-over {transition: .4s;transform: translateX(88px);}