#SMheader03 {
    position: relative;
    width: 100%;
    height: 432px;
    background-image: url(../images/smain/smain03/top-bg-4.png);
    background-repeat: no-repeat;
    object-fit: contain;
    background-size:cover;
    background-position: center;
}

#SMheaderLine {
    position: absolute;
    /* top: 50%; */
    left: 50%;
    width: 1160px;
    height: 100%;
    margin-left: -580px;
    /* margin-top: -337px; */
    border-left: 1px solid rgba(255,255,255,0.15);
    border-right: 1px solid rgba(255,255,255,0.15);
}

#SMheader03 .SMbg {
    position: absolute;
    top: 50%;
    left: 50%;
}

#SMheader03 .SMbg li { position: absolute; }

#SMheader03 .SMbg li:first-child img {
    width: 326px;   
    margin-left: -163px;
    margin-top: -180px;
    object-fit: contain;
    opacity: 0.6;
}

#SMheader03 .SMbg li:nth-child(2) img {
    width: 1240px;
    margin-left: -620px;
    margin-top: -110px;
}

#SMheader03 .SMbg li:nth-child(3) img {
    width: 624px;
    margin-left: -312px;
    margin-top: -110px;
}


#SMheader03-top {
    position: relative;
    width: 1160px;
    height: 48px;
    margin: 0 auto;
    z-index: 1000;
}

.SMheader03-top-logo {
    position: relative;
    display: inline-block;
    float: left;
    padding: 16px 0 0 16px;
    /*width: 111.3px;*/
    /*height: 40px;*/
    object-fit: contain;
}

.SMheader03-usisnet-logo-white {
    /*width: 111.3px;*/
    height: 40px;
    object-fit: contain;
}

#SMheader03-top ul {
    position: absolute;
    right: 0px;
    padding: 16px 16px 0 0;
}

#SMheader03-top ul li { position: relative; display: inline-block; }


#SMheader03-top ul li:nth-child(2) a::before{
    display: inline-block;
    content: '';
    margin: 0 12px 0 8px;
    width: 1px;
    height: 11px;
    vertical-align: -1px;
    background-color: var(--ffffff);
    opacity: 0.6;
}





#conMtitleWrap { margin-bottom: 48px; }
#conMtitleWrap ul li:first-child { margin-bottom: 4px; }


/* conTitleImg ---- Start */

#conTitleImg {
    position: relative;
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    object-fit: contain;
    background-size:cover;
    margin-bottom: 96px;
    background-position: center;
}


.conTitleImg01 { background-image: url(../images/smain/smain03/rectangle.png); }
.conTitleImg02 { background-image: url(../images/smain/smain03/Philosophy_bg.png); }
.conTitleImg03 { background-image: url(../images/smain/smain03/history_con_img.png); }
.conTitleImg04 { background-image: url(../images/smain/smain03/org_con_img.png); }
.conTitleImg05 { background-image: url(../images/smain/smain03/software_con_img.png); }
.conTitleImg06 { background-image: url(../images/smain/smain03/hardware_con_img.png); }
.conTitleImg07 { background-image: url(../images/smain/smain03/location_con_img.png); }


#conTitleImgTxt01, #conTitleImgTxt02, #conTitleImgTxt03, #conTitleImgTxt04, #conTitleImgTxt05, #conTitleImgTxt06, #conTitleImgTxt07 {
    width: 1160px;
    height: 200px;
    margin: 0 auto;
}

#conTitleImgTxt01 img { bottom: -2px; position: absolute; }
#conTitleImgTxt02 img { bottom: -26px; position: absolute; }
#conTitleImgTxt03 img { bottom: -26px; position: absolute; }
#conTitleImgTxt04 img { bottom: -26px; position: absolute; }
#conTitleImgTxt05 img { bottom: -26px; position: absolute; }
#conTitleImgTxt06 img { bottom: -2px; position: absolute; }
#conTitleImgTxt07 img { bottom: -26px; position: absolute; }

/* conTitleImg ---- End */



#conWrap {
    position: relative;
    width: 100%;
    margin-top: 120px;
    margin-bottom: 341px;
}

#contents {
    position: relative;
    width: 1160px;
    margin: 0 auto;
}


/* 01 CEO 인사말 ---- Start */
#ceobg {
    position: absolute;
    left: 50%;
    bottom: -260px;
    width: 1160px;
    margin-left: -580px;
}

#ceobg img {
    position: relative;
    left: 840px;
}

#ceoContents {
    position: relative;
    width: 1160px;
    margin: 0 auto;
}

#ceoContents ul li p {
    text-align: left;
}

#ceoContents ul li:first-child { margin-bottom: 4px; }
#ceoContents ul li:nth-child(2) { margin-bottom: 40px; }
#ceoContents ul li:nth-child(3) { width: 800px; }

#ceoSign {
    position: relative;
    left: 720px;
    top: 220px;
}

/* 01 CEO 인사말 ---- End */
#contentsPhilosophy ul { text-align: center; }
#contentsPhilosophy ul li { display: inline-block; }
#contentsPhilosophy ul:nth-child(2){ margin-bottom: 56px;}

/* #contentsPhilosophyImg {
    position: relative;
    width: 100%;
    height: 560px;
    background-image: url(../images/smain/smain04/Philosophy_con_img.png);
    background-repeat: no-repeat;
    object-fit: contain;
    background-size: cover;
} */

#contentsPhilosophyImg img {
    width: 100%;
}



/* 02 회사 이념 ---- Start */




/* 02 회사 이념 ---- End */




/* 03 연혁 ---- Start */

.sub_tab {
    overflow: hidden;
    width: 1160px;
    max-width: 100%;
    margin: 0 auto 80px auto;
}

.sub_tab:after {
    display: block;
    clear: both;
    content: '';
}

.item2 li { width: calc(100% / 2); }
.item3 li { width: calc(100% / 3); }
.item4 li { width: calc(100% / 4); }


.tab_Content_Wrap {
    overflow: hidden;
    width: 1160px;
    max-width: 100%;
    margin: 0 auto 80px auto;
}

.tab_Content_Wrap div img {
    width: 100%;
}

#contentsHistory .sub_tab li {
    float: left;
    border: 1px solid var(--light-grey-blue);
    height: 64px;
    line-height: 64px;
    margin-left: -1px;
}

#contentsHistory .sub_tab li:first-child {
    margin-left: 0;
}

#contentsHistory .sub_tab li a {
    font-family: NotoSansCJKkr;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -0.8px;
    color: var(--343-a-40);
    text-align: center;
    display: block;
}

#contentsHistory .sub_tab li.current {
    border: 1px solid var(--0383-f-0);
    position: relative;
    z-index: 1;
    background-color: var(--0383-f-0);
}

#contentsHistory .sub_tab li.current a {
    color: #fff;
}

/* 03 연혁 ---- End */


/* 04 조직도 ---- Start */
#orgContents {
    position: relative;
    width: 1160px;
    margin: 0 auto;
}

#orgContents img {
    width: 100%;
}

/* 04 조직도 ---- End */





/* 05 software ---- Start */
#softwareContents {
    position: relative;
    width: 1160px;
    margin: 0 auto;
}


#softwareContents .sub_tab li {
    float: left;
    border: 1px solid var(--light-grey-blue);
    height: 64px;
    line-height: 64px;
    margin-left: -1px;
}

#softwareContents .sub_tab li:first-child {
    margin-left: 0;
}

#softwareContents .sub_tab li a {
    font-family: NotoSansCJKkr;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -0.8px;
    color: var(--343-a-40);
    text-align: center;
    display: block;
}

#softwareContents .sub_tab li.current {
    border: 1px solid var(--0383-f-0);
    position: relative;
    z-index: 1;
    background-color: var(--0383-f-0);
}

#softwareContents .sub_tab li.current a {
    color: #fff;
}


#softwareContentsTab02 ul:last-child {
    margin-top: 56px;
    text-align: center;
}


#softwareContentsTab02 ul:last-child li a {
    display: inline-block;
    padding: 8px 20px 8px 28px;
    background-color: #228ae6;
}

#softwareContentsTab02 ul:last-child li a::after {
    display: inline-block;
    content: '';
    width: 40px;
    height: 40px;
    background: url('../images/smain/smain01/ic-arrow-right.svg');
    background-repeat: no-repeat;
    background-size: 40px 40px;
    vertical-align: -12px;
}






.margin-b8 { margin-bottom: 8px; }
.margin-b16 { margin-bottom: 16px; }
.margin-b56 { margin-bottom: 56px; }
.margin-b80 { margin-bottom: 80px; }

.margin-t32 { margin-top: 32px; }
.margin-t56 { margin-top: 56px; }
.margin-t80 { margin-top: 80px; }

.txt_ic01 { 
    padding-left: 28px;
    padding-bottom: 16px;
    background: url('../images/smain/smain03/com_con_ic01.png') no-repeat left 8px;
}

.txt_ic02 { 
    padding-left: 22px;
    padding-bottom: 8px;
    background: url('../images/smain/smain03/com_con_ic02.png') no-repeat left 8px;
}

.txt_ic03 { 
    padding-left: 16px;
    padding-bottom: 8px;
    background: url('../images/smain/smain03/com_con_ic03.png') no-repeat left 10px;
}






/* 05 software ---- End */









/* 06 hardware ---- Start */
#hardwareContents {
    position: relative;
    width: 1160px;
    margin: 0 auto;
}

#hardwareContents .sub_tab li {
    float: left;
    border: 1px solid var(--light-grey-blue);
    height: 64px;
    line-height: 64px;
    margin-left: -1px;
}

#hardwareContents .sub_tab li:first-child {
    margin-left: 0;
}

#hardwareContents .sub_tab li a {
    font-family: NotoSansCJKkr;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -0.8px;
    color: var(--343-a-40);
    text-align: center;
    display: block;
}

#hardwareContents .sub_tab li.current {
    border: 1px solid var(--0383-f-0);
    position: relative;
    z-index: 1;
    background-color: var(--0383-f-0);
}

#hardwareContents .sub_tab li.current a {
    color: #fff;
}

/* 06 hardware ---- End */









/* 07 오시는 길 ---- Start */

#locationBg01 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1262px;
    height: 1140px;
    background-color: var(--f-1-f-3-f-5);
}

#locationBg02 {
    position: absolute;
    right: -16px;
    top: 36vh;
    width: 90%;
    height: 320px;
    object-fit: contain;
    border: solid 16px #b49a3a;
}

#locationContents {
    position: relative;
    width: 1160px;
    margin: 0 auto;
}

#locationContents img {
    /*margin-top: 56px;*/
    margin-bottom: 40px;
    width: 100%;
}


#location_area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}


#location-list {
    order: 1;
    position: relative;
    display: inline-block;
    margin-left: 24px;
    width: 410px;
    height: auto;
    text-align: left;    
}


#location-list li {
    display: inline-block;
    padding-bottom: 8px;
}

#location-list-tel {
    margin-right: 16px;
}

#location-list-fax {
    margin-bottom: 32px;
}


#location-list-adr::before {
    display: inline-block;
    content:url('../images/smain/smain03/ic-place.svg');
    width: 24px;
    height: 24px;
    vertical-align: -4px;
    padding-right: 8px;
    object-fit: contain;
}

#location-list-tel::before {
    display: inline-block;
    content:url('../images/smain/smain03/ic-local-phone.svg');
    width: 24px;
    height: 24px;
    vertical-align: -4px;
    padding-right: 8px;
    object-fit: contain;
}

#location-list-fax::before {
    display: inline-block;
    content:url('../images/smain/smain03/ic-local-printshop.svg');
    width: 24px;
    height: 24px;
    vertical-align: -4px;
    padding-right: 8px;
    object-fit: contain;
}

#location-list-walk::before {
    display: inline-block;
    content:url('../images/smain/smain03/ic-directions-walk.svg');
    width: 24px;
    height: 24px;
    vertical-align: -4px;
    padding-right: 8px;
    object-fit: contain;
}

#location-list-bus::before {
    display: inline-block;
    content:url('../images/smain/smain03/ic-directions-bus.svg');
    width: 24px;
    height: 24px;
    vertical-align: -4px;
    padding-right: 8px;
    object-fit: contain;
}


#locaction_btn {
    order: 2;
    position: relative;
    display: inline-block;
    top: 0px;
    width: 400px;
    height: auto;
}

#locaction_btn ul li { float: right; display: inline-block; }
#locaction_btn ul li a { padding: 16px 40px; margin-left: 16px; }

#locaction_btn ul li:first-child a { background-color: #5dcc6a; }
#locaction_btn ul li:nth-child(2) a { background-color: #488DF7; }




/* 07 오시는 길 ---- End */
