#SMsubMenu {
  position: relative;
  top: 267px;
  line-height: 1;
}

#SMsubMenu nav {
  width: 100%;
  height: auto;
  text-align: center;
}

#SMsubMenu nav > ul {
  padding: 0px;
  margin: 0px;
  width: 100%;
  font-size: 0;
  display: flex;
  justify-content: center;
}

#SMsubMenu li { 
  display: inline-block;
} 

/* -------- 1 Depth Menu Start -------- */
#SMsubMenu nav > ul > li { 
  width: 180px;
  height: 60px;
  margin-left: 24px;
}

#SMsubMenu nav > ul > li:first-child { 
  margin-left: 0px;
}

#SMsubMenu nav > ul > li > a {
  display: block;
  text-decoration: none;
  color:rgba(255,255,255,0.4);
  font-size: 18px;
  letter-spacing: -0.4px;
  font-weight: bold;
  padding: 12px 8px 0px 8px;
  margin: 8px 16px 0px 16px;  
}


#SMsubMenu nav > ul > li:nth-child(1):hover { background-color: #16a085; }
#SMsubMenu nav > ul > li:nth-child(2):hover { background-color: #ff7b05; }
#SMsubMenu nav > ul > li:nth-child(3):hover { background-color: #228ae6; }
#SMsubMenu nav > ul > li:nth-child(4):hover { background-color: #228ae6; }


#SMsubMenu nav > ul > li:nth-child(1):hover > a { color: #fff; }
#SMsubMenu nav > ul > li:nth-child(2):hover > a { color: #fff; }
#SMsubMenu nav > ul > li:nth-child(3):hover > a { color: #fff; }
#SMsubMenu nav > ul > li:nth-child(4):hover > a { color: #fff; }



/* -------- 1 Depth Menu End -------- */


/* -------- 2 Depth Menu Start -------- */
#SMsubMenu nav > ul ul {
  display: none;
  position: absolute;
  padding: 0px;
  margin: 0px;
  left: 0px;
  top: 70px;
  width: 100%;
  height: 50px;
}

#SMsubMenu nav ul ul > li {
  padding: 10px 24px;
  margin-top: 8px;
}

#SMsubMenu nav ul ul > li a {
  /*padding: 10px 8px;*/
  padding: 10px 16px 10px 16px;
  font-size: 16px;
  color: #fff;
}

#SMsubMenu nav > ul > li:nth-child(1) > ul { background: #16a085; }
#SMsubMenu nav > ul > li:nth-child(2) > ul { background: #ff7b05; }
#SMsubMenu nav > ul > li:nth-child(3) > ul { background: #228ae6; }
#SMsubMenu nav > ul > li:nth-child(4) > ul { background: #228ae6; }

#SMsubMenu nav > ul > li:hover ul { display: block; z-index: 100;}

#SMsubMenu nav ul ul > li a:hover { border-bottom: solid 6px #fff; }
/* -------- 2 Depth Menu End -------- */


/* -------- Active Start -------- */
#SMsubMenu nav > ul > li:nth-child(1).active { background-color: #16a085; }
#SMsubMenu nav > ul > li:nth-child(2).active { background-color: #ff7b05; }
#SMsubMenu nav > ul > li:nth-child(3).active { background-color: #228ae6; }
#SMsubMenu nav > ul > li:nth-child(4).active { background-color: #228ae6; }

#SMsubMenu nav > ul > li:nth-child(1).active > a { color: #fff; }
#SMsubMenu nav > ul > li:nth-child(2).active > a { color: #fff; }
#SMsubMenu nav > ul > li:nth-child(3).active > a { color: #fff; }
#SMsubMenu nav > ul > li:nth-child(4).active > a { color: #fff; }

#SMsubMenu nav > ul > li.active > ul { display: block; }

/*#SMsubMenu nav ul ul > li a.active_line { 
  border-bottom: solid 4px #fff;
}*/

#SMsubMenu nav ul ul > li a.active_line1 { 
  border-bottom: solid 6px #fff;
  background-color: #fff;
  color: #16a085;
  border-radius: 2px 2px 0 0;
}

#SMsubMenu nav ul ul > li a.active_line2 { 
  border-bottom: solid 6px #fff;
  background-color: #fff;
  color: #ff7b05;
  border-radius: 2px 2px 0 0;
}

#SMsubMenu nav ul ul > li a.active_line3 { 
  border-bottom: solid 6px #fff;
  background-color: #fff;
  color: #228ae6;
  border-radius: 2px 2px 0 0;
}
/* -------- Active End -------- */





/* -------- All Menu Start -------- */

#allmenu {
  position: fixed;
  display: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.9);
  z-index: 2000;
}

#allm_close {
  position: absolute;
  top: 48px;
  right: 48px;
}

#allmenu_con {
  position: relative;
  top: 160px;
  display: table;
  margin: 0 auto;
}

#allmenu_con ul {
  display: inline-block;
  text-align: center;
}

#allmenu_con ul:first-child { margin-left: 0; vertical-align: top;}
#allmenu_con ul:nth-child(2) { margin-left: 160px; vertical-align: top;}
#allmenu_con ul:nth-child(3) { margin-left: 160px; vertical-align: top;}

#allmenu_con ul li { line-height: 2.4; }
#allmenu_con ul li:first-child { margin-bottom: 24px; }

#allmenu_con ul:first-child li a:hover{ color: var(--16-a-085); }
#allmenu_con ul:nth-child(2) li a:hover{ color: var(--pumpkin-orange); }
#allmenu_con ul:nth-child(3) li a:hover{ color: var(--0383-f-0); }













/* -------- All Menu End -------- */









