@font-face {
    font-family: 'SnellRoundhand';
    src: url('../fonts/SnellRoundhand.eot');
    src: url('../fonts/SnellRoundhand.eot') format('embedded-opentype'),
    url('../fonts/SnellRoundhand.woff') format('woff');
}

@font-face {
 font-family: 'NotoSansCJKkr';
 font-weight: 100;
 src: url('../fonts/NotoSansCJKkr-Thin.eot');
 src: url('../fonts/NotoSansCJKkr-Thin.eot') format('embedded-opentype'),
 url('../fonts/NotoSansCJKkr-Thin.woff') format('woff'),
 url('../fonts/NotoSansCJKkr-Thin.otf') format('truetype');
}

@font-face {
 font-family: 'NotoSansCJKkr';
 font-weight: 200;
 src: url('../fonts/NotoSansCJKkr-Light.eot');
 src: url('../fonts/NotoSansCJKkr-Light.eot') format('embedded-opentype'),
 url('../fonts/NotoSansCJKkr-Light.woff') format('woff'),
 url('../fonts/NotoSansCJKkr-Light.otf') format('truetype');
}

@font-face {
 font-family: 'NotoSansCJKkr';
 font-weight: 300;
 src: url('../fonts/NotoSansCJKkr-DemiLight.eot');
 src: url('../fonts/NotoSansCJKkr-DemiLight.eot') format('embedded-opentype'),
 url('../fonts/NotoSansCJKkr-DemiLight.woff') format('woff'),
 url('../fonts/NotoSansCJKkr-DemiLight.otf') format('truetype');
}

@font-face {
 font-family: 'NotoSansCJKkr';
 font-weight: 400;
 src: url('../fonts/NotoSansCJKkr-Regular.eot');
 src: url('../fonts/NotoSansCJKkr-Regular.eot') format('embedded-opentype'),
 url('../fonts/NotoSansCJKkr-Regular.woff') format('woff'),
 url('../fonts/NotoSansCJKkr-Regular.otf') format('truetype');
}

@font-face {
 font-family: 'NotoSansCJKkr';
 font-weight: 500;
 src: url('../fonts/NotoSansCJKkr-Medium.eot');
 src: url('../fonts/NotoSansCJKkr-Medium.eot') format('embedded-opentype'),
 url('../fonts/NotoSansCJKkr-Medium.woff') format('woff'),
 url('../fonts/NotoSansCJKkr-Medium.otf') format('truetype');
}

@font-face {
 font-family: 'NotoSansCJKkr';
 font-weight: 600;
 src: url('../fonts/NotoSansCJKkr-Bold.eot');
 src: url('../fonts/NotoSansCJKkr-Bold.eot') format('embedded-opentype'),
 url('../fonts/NotoSansCJKkr-Bold.woff') format('woff'),
 url('../fonts/NotoSansCJKkr-Bold.otf') format('truetype');
}

@font-face {
    font-family: 'NotoSansCJKkr';
    font-weight: 700;
    src: url('/fonts/NotoSansCJKkr-Black.eot');
    src: url('/fonts/NotoSansCJKkr-Black.eot') format('embedded-opentype'),
    url('/fonts/NotoSansCJKkr-Black.woff') format('woff'),
    url('/fonts/NotoSansCJKkr-Black.otf') format('truetype');
}
