.mo{
  display: none ;
}
@media (max-width: 940px){
  .pc{
    display: none !important;
  }
  .mo{
    display: block;
  }

  /*기본*/
  .mo_mar_bot{
    margin-bottom:10px !important;
  }
  
  button.mo_btn_menu{
    background: none;
    border: 0;
    position: absolute;
    top: 0;
    right: 0;
    padding: 14px 18px;
  }
  button.mo_btn_menu .burger{
    width: 27px;
    height: 17px;
    border: none;
    background: transparent;
    position: relative;
    cursor: pointer;
    display: inline-block;
  }
  button.mo_btn_menu:focus {
    outline: none;
  }
  button.mo_btn_menu .burger span{
    background-color: #231f20;
    width: 100%;
    height: 2px;
    display: inline-block;
    left: 0;
    position: absolute;
    top: 45%;
  }
  button.mo_btn_menu .burger:before{
    content: '';
    background-color: #231f20;
    width: 100%;
    height: 2px;
    display: inline-block;
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 0;
  }
  button.mo_btn_menu .burger:after{
    content: '';
    background-color: #231f20;
    width: 100%;
    height: 2px;
    display: inline-block;
    position: absolute;
    overflow: hidden;
    left: 0;
    bottom: 0;
  }
  .mo_menu_container{
    display:none;
  }
  .mo_menu_container.on{
    display:block;
  }
  .mo_menu_overlay{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
  .mo_menu{
    position: fixed;
    top: 0;
    right: -300px;
    left: auto;
    bottom: 0;
    z-index: 555;
    width: 260px;
    background: #322e2d;
    margin-left: 0;
    z-index: 9999;
  }
  
  .mo_menu > ul{
    margin-top: 60px;
    border-top: 1px solid #474342;
  }
  .mo_menu > ul > li:nth-child(1) span{
    color:var(--16-a-085);
  }
  .mo_menu > ul > li:nth-child(2) span{
    color:var(--pumpkin-orange);
  }
  .mo_menu > ul > li:nth-child(3) span{
    color:var(--0383-f-0);
  }
  .mo_menu > ul > li > ul{
    display: none;
    border-bottom: 1px solid #545453;
  }
  .mo_menu > ul > li > ul.on{
    display:block;
  }
  .mo_menu > ul > li > ul > li > a{
    display: block;
    padding: 10px 5px 10px 25px;
    font-size: 15px;
    color:#FFF;
  }
  .mo_menu > ul > li > ul > li > a.on{
    background: #615A58;
  }
  .mo_menu > ul > li > ul > li > a:hover{
    background: #615A58;
  }
  .mo_menu > ul > li > span{
    position: relative;
    text-align: left;
    color: #fff;
    border-bottom: 1px solid #545453;
    font-size: 16px;
    font-weight: bold;
    padding: 15px 0 15px 25px;
    cursor: pointer;
    display:block;
  }

  .mo_close{
    border-radius: 0;
    display: block;
    cursor: pointer;
    z-index: 1002;
    position: absolute;
    width: 60px;
    height: 60px;
    line-height: 30px;
    text-align: center;
    background: #000 url(../images/responsive/close.svg) no-repeat center center;
    background-size: 15px auto;
    color: #fff;
    font-size: 24px;
    left: 0;
    top: 0;
    border: none;
    text-indent: -9999px;
  }
  #container{
    margin-top: 24px;
  }
  
  #main-wrap{
    width: 100%;
    height: 100%;
  }
  .main-top{
    position: relative;
    padding: 10px 10px;
    overflow: hidden;
    height: initial;
  }
  .main-top-logo{
    padding: 0;
  }
  #main-title{
    padding: 0 10px;
    width: 100%;
    top: 0;
    bottom: 0;
    margin: 35px auto 0 auto;
    display: block;
    left: 0;
    position: relative;
  }
  #main-mbox01{
    width:100%;
    position: relative;
    height: 180px;
    margin: 0 auto 24px;
    border: 0;
    overflow: hidden;
  }

  #main-mbox01 .main-conbox{
    height: 180px;
    bottom: 0;
  }
  #main-conbox-line01{
    left: 118px;
  }
  .overbox{
    position: absolute;
    left: 40px;
    width: 350px;
    height: 180px;
    opacity: .0;
    transition: .4s;
  }
  .overbox-over{
    left: 23px;
    opacity: 1;
    transition: .4s;
    transform: translateX(-48px);
  }
  #main-mbox01 .main-mbox-btn .main-mbox-bg{
    width: 180px;
    height: 184px;
    left: initial;
    bottom: 27px;
    right: 6px;
  }
  #main-mbox01 .main-mbox-btn .main-mbox-bg-over{
    width: 180px;
    height: 184px;
    left: initial;
    bottom: 27px;
    right: 6px;
  }

  #main-mbox01 .main-mbox-btn .main-mbox-people{
    width: 180px;
    height: 184px;
    left: inherit;
    bottom: 0px;
    right: 29px;
  }

  #main-mbox01 .main-mbox-btn .main-mbox-people-over{
    width: 180px;
    height: 184px;
    left: inherit;
    bottom: 0px;
    right: 29px;
  }

  #main-mbox02{
    width:100%;
    position: relative;
    height: 180px;
    margin: 0 auto 24px;
    left:0;
    border: 0;
    overflow: hidden;
  }

  #main-mbox02 .main-conbox{
    height: 180px;
    bottom: 0;
  }

  #main-mbox02 .main-mbox-btn .main-mbox-bg{
    width: 180px;
    height: 184px;
    left: initial;
    bottom: 27px;
    right: 6px;
  }
  #main-mbox02 .main-mbox-btn .main-mbox-bg-over{
    width: 180px;
    height: 184px;
    left: initial;
    bottom: 27px;
    right: 6px;
  }

  #main-mbox02 .main-mbox-btn .main-mbox-people{
    width: 180px;
    height: 184px;
    left: inherit;
    bottom: 0px;
    right: 29px;
  }

  #main-conbox-line02{
    left: 150px;
  }

  #main-mbox02 .main-mbox-btn .main-mbox-people-over{
    width: 180px;
    height: 184px;
    left: inherit;
    bottom: 0px;
    right: 29px;
  }

  .H3OrangeLeft-bold, .H3OrangeLeft-light{
    font-size: 24px !important;
  }

  #main-mbox03{
    width:100%;
    position: relative;
    height: 180px;
    margin: 0 auto 24px;
    left: 0;
    border: 0;
    overflow: hidden;
  }

  #main-mbox03 .main-conbox{
    height: 180px;
    bottom: 0;
  }

  #main-mbox03 .main-mbox-btn .main-mbox-bg{
    width: 180px;
    height: 184px;
    left: initial;
    bottom: 27px;
    right: 6px;
  }
  #main-mbox03 .main-mbox-btn .main-mbox-bg-over{
    width: 180px;
    height: 184px;
    left: initial;
    bottom: 27px;
    right: 6px;
  }

  #main-mbox03 .main-mbox-btn .main-mbox-people{
    width: 180px;
    height: 184px;
    left: inherit;
    bottom: 0px;
    right: 29px;
  }

  #main-conbox-line02{
    left: 150px;
  }

  #main-mbox03 .main-mbox-btn .main-mbox-people-over{
    width: 180px;
    height: 184px;
    left: inherit;
    bottom: 0px;
    right: 29px;
  }

  #main-conbox-line03{
    left: 182px;
  }


  .main-mbox-btn{
    position: relative;
    height: inherit;
  }
  #main-rec01, #main-rec02, #main-rec03{
    display: none;
  }
  #SMfooter{
    height: inherit;
    min-width: inherit;
  }
  #SMfooter-list{
    position: relative;
    margin: 0;
    width: 100%;
    left: 0;
    padding: 17px;
    height: inherit;
  }
  #SMfooter-list ul {
    position: relative;
    display: inline-block;
    top: 0;
    margin: 0;
    width: 100%;
    text-align: center;
    left:0;
  }
  #SMfooter-list ul li {
    text-align: center;
    display: block;
    font-size: 13px;
    /* margin: 0 auto 10px !important; */
  }
  #SMfooter-list02 li{
    margin-top: 10px;
    float: left;
    width: calc(100% / 2 - 6px) !important;
    height: inherit !important;
  }
  #SMfooter-list02 li:nth-child(1) img{
    width: 100%;
  }
  #SMfooter-list02 li:nth-child(2) img{
    width: 100%;
  }
  #SMfooter-list02 li:nth-child(3){
    display: none;
  }

  /** 서브 **/
  .mo_submain_contant {
    position: relative;
    width: 100%;
    height: 248px;
    background-repeat: no-repeat;
    object-fit: contain;
    background-size:cover;
    background-position: center;
  }
  .mo_submain_type01{
    background-image: url(../images/smain/smain01/top-bg-1.png);
  }
  .mo_submain_type02{
    background-image: url(../images/smain/smain02/TopBg1.png);
  }
  .mo_submain_type03{
    background-image: url(../images/smain/smain03/top-bg-4.png);
  }
  .mo_submain_contant .SMbg {
      position: absolute;
      top: 24%;
      width:100%;
      text-align: center;
  }

  .mo_submain_contant .SMbg li {
    position: absolute;
    width:100%;
  }

  .mo_submain_contant .SMbg li:first-child img {
    width: 163px;
    object-fit: contain;
    opacity: 0.6;
  }
  .mo_submain_contant .SMbg li:nth-child(2) img {
    width: 100%;
    width: 96%;
    margin-top: 32px;
  }

  .mo_submain_contant .SMbg li:nth-child(3) img {
    width: 312px;
    margin-top: 32px;
  }
  .mo_submain_top {
    position: relative;
    width: 100%;
    z-index: 1000;
    padding: 10px;
    box-shadow: border-box;
    overflow: hidden;
  }

  .mo_submain_top .mo_btn_menu{
    top: 10px;
    right: 10px;
  }

  .mo_submain_top button.mo_btn_menu .burger span{
    background: #FFF;
  }

  .mo_submain_top button.mo_btn_menu .burger:before{
    background: #FFF;
  }

  .mo_submain_top button.mo_btn_menu .burger:after{
    background: #FFF;
  }

  .mo_submain_top .SMheader01-top-logo {
    position: relative;
    display: inline-block;
    float: left;
    padding: 0;
    object-fit: contain;
  }

  .SMheader01-usisnet-logo-white {
    /*width: 111.3px;*/
    height: 40px;
    object-fit: contain;
  }

  .mo_submain_top-top ul {
    position: absolute;
    right: 0px;
    padding: 16px 16px 0 0;
  }

  .mo_submain_top ul li { position: relative; display: inline-block; }


  .mo_submain_top ul li:nth-child(2) a::before{
    display: inline-block;
    content: '';
    margin: 0 12px 0 8px;
    width: 1px;
    height: 11px;
    vertical-align: -1px;
    background-color: var(--ffffff);
    opacity: 0.6;
  }
  #conWrap{
    position: relative;
    width: 100%;
    padding: 15px;
    margin:0;
  }
  #contents{
    width: 100%;
  }
  .H5BlackLeft-bold{
    font-size: 16px !important;
  }
  .txt_ic01 {
    padding-left: 22px;
    padding-bottom: 10px;
    background: url(../images/smain/smain01/aff_con_ic01.png) no-repeat left 2px;
  }
  .H6BlackLeft-medium{
    font-size: 14px !important;
    background:url('../images/smain/smain01/aff_con_ic02.png') no-repeat left 5px !important;
  }
  .txt_ic02{
    padding-left: 22px;
    padding-bottom: 0;
    background: url('../images/smain/smain01/aff_con_ic02.png') no-repeat left 2px;
  }
  #affContentsTxtBox010101{
    margin-bottom:20px;
  }
  #affContentsTxtBox010101 ul{
    width: 100%;
    height: 221px;
    margin:  0 auto 10px auto;
  }
  #affContentsTxtBox010101 ul li:first-child{
    margin-top: 1px;
    margin-bottom: -15px;
  }
  #affContentsTxtBox010101 ul.smain01_box01 li:first-child img{
    width:100px;
    height: 100px;
  }
  #affContentsTxtBox010101 ul.smain01_box02 li:first-child img{
    width: 70px;
    height: 70px;
    margin: 20px;
  }
  #affContentsTxtBox010101 ul.smain01_box03 li:first-child img{
    width: 70px;
    height: 70px;
    margin: 20px;
  }
  #affContentsTxtBox010101 ul li:nth-child(2){
    margin-bottom: 12px;
  }
  .H1BlueGreenLeft-bold{
    font-size:24px !important;
  }
  .P1BlackCenter-regular{
    font-size: 12px;
  }
  #affContentsTxtBox010101 ul:last-child{
    margin: 0 auto !important;
  }
  .txt_ic03{
    font-size: 12px !important;
    background: url('../images/smain/smain01/aff_con_ic03.png') no-repeat left 9px;
    padding: 4px 4px 4px 9px ;
  }
  .margin-b120{
    margin-bottom:20px;
  }

  /*신청방법*/
  #affContentsTxtBox010201 ul:first-child li:first-child{
    padding-left: 22px;
    padding-bottom: 10px;
    background: url(../images/smain/smain01/aff_con_ic01.png) no-repeat left 2px;
  }
  #affContentsTxtBox010201 ul:first-child li:nth-child(2){
    margin-bottom:20px;
    padding-right:0;
  }
  .P1BlackLeft-regular{
    font-size: 12px !important;
  }
  .mo_smain_img01{
    width: 100%;
  }
  #affContentsTxtBox010201{
    margin-bottom: 23px;
  }
  #affContentsTabBox010202 .sub_tab02 li{
    height: 36px;
    line-height: 36px;
  }
  .sub_tab02{
    width:100%;
    margin:0 auto 20px auto;
  }
  #affContentsTabBox010202 .sub_tab02 li a{
    font-size: 12px;
  }

  .tab_Content_Wrap{
    margin: 0 auto 24px auto;
  }

  #affContentsTxtBox010403{
    margin-bottom: 20px;
  }
  #affContentsTxtBox010403 ul:first-child li{
    padding-left: 22px;
    padding-bottom: 10px;
    background: url('../images/smain/smain01/aff_con_ic01.png') no-repeat left 2px;
  }
  /*계약사항*/
  #affContentsTxtBox010302{
    margin-bottom: 20px;
  }
  #affContentsTxtBox010302 ul{
    width: 100%;
    height: 221px;
    margin: 0 auto 10px auto;
  }
  #affContentsTxtBox010302 ul li:first-child{
    margin-top: 1px;
    margin-bottom: -15px;
  }

  #affContentsTxtBox010302 .smain03_box01 li img{
    width:70px !important;
    height: 70px !important;
    margin: 14px;
  }
  #affContentsTxtBox010302 .smain03_box02 li img{
    width:70px !important;
    height: 70px !important;
    margin: 14px;
  }
  #affContentsTxtBox010302 .smain03_box03 li img{
    width:70px !important;
    height: 70px !important;
    margin: 14px;
  }
  .H3BlueGreenLeft-bold{
    font-size: 24px !important;
  }
  /*오류시*/
  #affContentsTxtBox010401{
    margin-bottom: 20px;
  }
  #affContentsTxtBox010401 ul:first-child li{
    padding-left: 22px;
    padding-bottom: 10px;
    background: url(../images/smain/smain01/aff_con_ic01.png) no-repeat left 2px;
  }
  #affContentsTxtBox010401con{
    margin-bottom:20px;
  }
  #affContentsTxtBox010401con01 ul{
    width:100%;
    height: 221px;
    margin: 0 auto 10px auto;
  }
  #affContentsTxtBox010401con01 ul li:first-child{
    margin: 5px 10px;
  }
  #affContentsTxtBox010401con02 ul li img{
    width: 100%;
  }
  .H6WhiteCenter-medium{
    font-size:14px !important;
  } 
  #affContentsTxtBox010401con02 ul:last-child li a{
    padding: 1px 10px 8px 14px;
  }

  /*1.as*/
  .sub_tab0106{
    width:100%;
    margin: 0 auto 20px auto;
  }
  #astab .sub_tab0106 li{
    height: 36px;
    line-height: 36px;
  }
  #astab .sub_tab0106 li a{
    font-size:12px;
  }
  #asTab01060101{
    margin-bottom: 20px;
  }
  #asTab01060101 ul:first-child li{
    padding-left: 22px;
    padding-bottom: 10px;
    background: url(../images/smain/smain01/aff_con_ic01.png) no-repeat left 2px;
  }
  #asTab01060102{
    margin-bottom: 20px;
  }
  #asTab01060102 ul:first-child li{
    padding-left: 22px;
    padding-bottom: 10px;
    background: url(../images/smain/smain01/aff_con_ic01.png) no-repeat left 2px;
  }
  #asTab01060103 ul:first-child li{
    padding-left: 22px;
    padding-bottom: 10px;
    background: url(../images/smain/smain01/aff_con_ic01.png) no-repeat left 2px;
  }
  #asTab01060401 ul:first-child li:first-child {
    padding-left: 22px;
    padding-bottom: 10px;
    background: url(../images/smain/smain01/aff_con_ic01.png) no-repeat left 2px;
    margin-bottom: 20px;
  }

  /*TJ대리점*/
  #tjContentsTxtBox020101 ul:first-child li{
    padding-left: 22px;
    padding-bottom: 10px;
    background: url(../images/smain/smain02/tj_con_ic01.png) no-repeat left 2px;
  }
  #tjContentsTxtBox020101 {
    margin-bottom: 20px;
  }
  #tjContentsTxtBox020101_img{
    margin-bottom: 20px;
  }
  #tjContentsTxtBox020101_img img{
    width:100%;
  }
  #tjContentsTxtBox020102{
    margin-bottom: 20px;
  }
  #tjContentsTxtBox020102 ul:first-child li:first-child{
    padding-left: 22px;
    padding-bottom: 10px;
    background: url(../images/smain/smain02/tj_con_ic01.png) no-repeat left 2px;
  }
  .sub_tab01{
    width: 100%;
    margin: 0 auto 20px auto;
  }
  #tjContentsTabBox020101 .sub_tab01 li{
    height: 36px;
    line-height: 36px;
  }
  #tjContentsTabBox020101 .sub_tab01 li a{
    font-size:12px;
  }
  .tj_fontType02{
    background: url(../images/smain/smain02/tj_con_ic02.png) no-repeat left 5px !important;
  }
  .tj_fontType03{
    padding-left: 20px;
    padding-bottom: 8px;
    background: url(../images/smain/smain02/tj_con_ic02.png) no-repeat left 5px !important;
  }
  .tj_fontType04{
    padding-left: 20px;
    padding-bottom: 8px;
    background: url('../images/smain/smain01/aff_con_ic02.png') no-repeat left 5px !important;
  }
  #tjContentsTxtBox010403 ul:first-child li {
    padding-left: 22px;
    padding-bottom: 10px;
    background: url(../images/smain/smain02/tj_con_ic01.png) no-repeat left 2px;
  }
  /*설치 방법*/
  #tjContentsTxtBox020201{
    margin-bottom:20px;
  }
  #tjContentsTxtBox020201 ul:first-child li:first-child{
    padding-left: 22px;
    padding-bottom: 10px;
    background: url(../images/smain/smain02/tj_con_ic01.png) no-repeat left 2px;
  }
  .video-container object{
    width:100% !important;
    height: auto;
  }
  #settingTab{
    width:100%;
    overflow-x: scroll;
  }
  .sub_tab0203{
    overflow-x: scroll;
    width: 1160px;
    max-width: 1160px;
    margin: 0 auto 20px auto;
  }
  #settingTab .sub_tab0203 li{
    height: 54px;
    padding-top: 7px;
  }
  #settingTab .sub_tab0203 li:nth-child(2){
    padding-top: 17px;
  }
  #settingTab .sub_tab0203 li:nth-child(3){
    padding-top: 17px;
  }
  #settingTab .sub_tab0203 li a{
    font-size: 14px;
  }
  .item8 li{
    width: calc(1160px / 8);
  }
  .conGraybox{
    padding: 10px;
    margin-bottom: 20px;
  }
  .tjContentsTxtBox_center{
    width:100%;
  }
  .tjContentsTxtBox_center ul li img{
    width:100%;
  }
  .margin-t56{
    margin-top:20px;
  }
  .num_img{
    width:18px !important;
  }
  .num_txt{
    padding-left: 23px;
    margin-top: -24px;
    margin-bottom: 6px;
    background: none !important;
  }
  .H6OrangeLeft-medium{
    font-size:14px !important;
  }
  #tj_sub_box2 {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background-color: rgba(52, 58, 60, .1);
  }
  .H6BlackCenter-medium{
    font-size:14px !important;
  }
  .P1RedLeft-regular{
    font-size:14px !important;
  }
  #tjContentsTxtBox020401{
    margin-bottom:20px;
  }
  #tjContentsTxtBox020401 > ul:first-child li:first-child{
    padding-left: 22px;
    padding-bottom: 10px;
    background: url(../images/smain/smain02/tj_con_ic01.png) no-repeat left 2px;
  }
  #tjContentsTxtBox02040101{
    width:100%;
  }
  #tjContentsTxtBox02040101 ul{
    margin-bottom: 20px;
  }
  #tjContentsTxtBox02040101 ul li img{
    width:100%;
  }
  #tj_sub_box{
    width:100%;
    padding:12px;
    margin-top: 0;
  }
  .text_type14{
    background: none !important;
    margin-bottom:10px !important;
  }
  #tjContentsTxtBox020501{
    margin-bottom:20px;
  }
  #tjContentsTxtBox020501 ul{
    margin-bottom:20px;
  }
  #tjContentsTxtBox020501 img{
    width:100%;
  }
  .margin-b32{
    margin-bottom:16px;
  }
  /*회사소개*/
  #ceobg{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-left: 0;
    text-align: right;
  }
  #ceoContents{
    width:100%;
  }
  #ceobg img{
    width: 179px;
    position: relative;
    left: 0;
  }
  #ceoSign{
    position: relative;
    left: 0;
    top: 0;
  }
  #ceoSign ul li p{
    text-align: right;
  }
  #ceoContents ul li:nth-child(2){
    margin-bottom:20px;
  }
  #ceoContents ul li:nth-child(3){
    width:100%;
  }
  .H3BlackCenter-regular{
    font-size:18px !important;
  }
  .H1NavyBlueCenter-bold{
    font-size:20px !important;
  }
  /*회사이념*/
  .MainTitleBlueLeft-Bold, .MainTitleBlueGreenLeft-Bold, .MainTitleBlackLeft-regular, .MainTitleBlackLeft-regular{ 
    font-size:32px !important;
  }
  .H3BlackLeft-regular, .H3BlackLeft-medium{
    font-size:18px !important;
  }
  #contentsPhilosophy ul:nth-child(2){
    margin-bottom:20px;
  }
  /*회사연혁*/
  .history_img{
    width:100%;
  }
  /*조직도*/
  #orgContents{
    width:100%;
  }
  /*소프트웨어*/
  #softwareContents{
    width:100%;
  }
  .sub_tab{
    width:100%;
    margin:0 auto 20px auto;
  }
  #softwareContents .sub_tab li{
    height: 36px;
    line-height: 36px;
  }
  #softwareContents .sub_tab li a{
    font-size: 12px;
  }
  .margin-t8{
    margin-top:10px;
  }
  #softwareContentsTab02 ul:last-child{
    margin-top: 16px;
  }
  #softwareContentsTab02 ul:last-child li a{
    padding: 2px 7px 4px 15px;
  }
  /*하드웨어*/
  #hardwareContents{
    width:100%;
  }
  #hardwareContents .sub_tab li{
    height: 36px;
    line-height: 36px;
  }
  #hardwareContents .sub_tab li a{
    font-size:12px;
  }
  .H6BlackLeft-light, .H5BlackLeft-light{
    font-size:12px !important;
  }
  .margin-b80, .margin-b56{
    margin-bottom:20px;
  }
  /*찾아오시는 길*/
  #locationContents{
    width:100%;
  }
  #locationContents img{
    margin-bottom:20px;
  }
  #location-list{
    width:100%;
    margin-left:0;
  }
  #location-list-fax{
    margin-bottom:0;
  }
  #locaction_btn{
    width:100%;
    display: inline-block;
    text-align: center;
  }
  #locaction_btn ul{
    overflow: hidden;
    display: inline-block;
  }
  #locaction_btn ul li:nth-child(2) a{
    margin-left:0;
  }
  #locaction_btn ul li a{
    padding: 11px 30px;
    display: inline-block;
  }
  #upArrowBtnWrap{
    position: fixed;
    bottom: 10px;
    height: 56px;
    width: 56px;
    z-index: 1007;
    right: 10px;
  }
  #upArrowBtn{
    width: initial;
    margin:initial;
  }
  #upArrowBtn img{
    position: relative;
  }
}



