@import url("reset.css");
@import url('noto-sans-scott.css');
@import url('menu.css');
@import url('footer.css');
@import url('responsive.css');



/* Color palette */

:root {
  --ffffff: #ffffff;
  --f-1-f-3-f-5: #f1f3f5;
  --e-9-ecef: #e9ecef;
  --light-grey-blue: #adb5bd;
  --868-e-96: #868e96;
  --495057: #495057;
  --41484-e: #41484e;
  --343-a-40: #343a40;
  --0383-f-0: #0383f0;
  --2980-b-9: #2980b9;
  --pumpkin-orange: #ff7b05;
  --16-a-085: #16a085;
  --f-8-fcff: #f8fcff;
  --white-12: rgba(255, 255, 255, 0.12);
  --blue-green-0: rgba(22, 160, 133, 0);
  --pumpkin-orange-0: rgba(255, 123, 5, 0);
  --bluish-0: rgba(41, 128, 185, 0);
  --deep-sky-blue: #228ae6;
  --deep-sky-blue-0: rgba(34, 138, 230, 0);
  --white-0: rgba(255, 255, 255, 0);
  --deep-sky-blue-4: rgba(34, 138, 230, 0.04);
  --deep-sky-blue-8: rgba(34, 138, 230, 0.08);
  --blue-green-8: rgba(22, 160, 133, 0.08);
  --red-10: rgba(255, 0, 0, 0.1);
  --blue-grey: #607d8b;
  --orangey-red: #f44336;
  --sunshine-yellow: #ffeb3b;
  --teal: #009688;
  --french-blue: #3f51b5;
  --amethyst: #aa5fb7;
  --red: #FF0000;
}

/* Text styles */

.EnCursiveSnellWhiteLeft {
  font-family: SnellRoundhand;
  font-size: 96px;
  font-weight: normal;
  line-height: 0.58;
  letter-spacing: -3.2px;
  color: var(--ffffff);
}

.MainTitleBlackLeft-Bold {
  font-family: NotoSansCJKkr;
  font-size: 64px;
  font-weight: 600;
  letter-spacing: -1.6px;
  color: var(--343-a-40);
}

.MainTitleBlueLeft-Bold {
  font-family: NotoSansCJKkr;
  font-size: 64px;
  font-weight: 600;
  letter-spacing: -1.6px;
  color: var(--0383-f-0);
}

.MainTitleBlackLeft-regular {
  font-family: NotoSansCJKkr;
  font-size: 64px;
  font-weight: 400;
  letter-spacing: -1.6px;
  text-align: left;
  color: var(--343-a-40);
}

.MainTitleBlackLeft-Light {
  font-family: NotoSansCJKkr;
  font-size: 64px;
  font-weight: 200;
  letter-spacing: -1.6px;
  text-align: center;
  color: var(--343-a-40);
}

.MainTitleBlueGreenLeft-Bold {
  font-family: NotoSansCJKkr;
  font-size: 64px;
  font-weight: 600;
  letter-spacing: -1.6px;
  color: var(--16-a-085);
}

.MainTitleOrangeLeft-Bold {
  font-family: NotoSansCJKkr;
  font-size: 64px;
  font-weight: 600;
  letter-spacing: -1.6px;
  color: var(--pumpkin-orange);
}

.MainTitleBlueLeft-Bold {
  font-family: NotoSansCJKkr;
  font-size: 64px;
  font-weight: 600;
  letter-spacing: -1.6px;
  color: var(--2980-b-9);
}

.MainTitleWhiteLeft-Bold {
  font-family: NotoSansCJKkr;
  font-size: 64px;
  font-weight: 600;
  letter-spacing: -1.6px;
  color: var(--f-8-fcff);
}

.MainTitleWhiteLeft-Light {
  font-family: NotoSansCJKkr;
  font-size: 64px;
  font-weight: 200;
  letter-spacing: -1.6px;
  text-align: center;
  color: var(--ffffff);
}

.H1OrangeCenter-bold {
  font-family: NotoSansCJKkr;
  font-size: 48px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -1.6px;
  text-align: center;
  color: var(--pumpkin-orange);
}


.H1NavyBlueLeft-bold {
  font-family: NotoSansCJKkr;
  font-size: 48px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -1.6px;
  color: var(--0383-f-0);
}

.H1BlackLeft-light {
  font-family: NotoSansCJKkr;
  font-size: 48px;
  font-weight: 200;
  line-height: 1.17;
  letter-spacing: -1.6px;
  color: var(--343-a-40);
}

.H1WhiteLeft-light {
  font-family: NotoSansCJKkr;
  font-size: 48px;
  font-weight: 200;
  line-height: 1.17;
  letter-spacing: -1.6px;
  color: var(--ffffff);
}

.H1BlackCenter-light {
  font-family: NotoSansCJKkr;
  font-size: 48px;
  font-weight: 200;
  line-height: 1.17;
  letter-spacing: -1.6px;
  text-align: center;
  color: var(--343-a-40);
}


.H1WhiteCenter-regular {
  font-family: NotoSansCJKkr;
  font-size: 48px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: -1.6px;
  text-align: center;
  color: var(--ffffff);
}

.H1BlackCenter-regular {
  font-family: NotoSansCJKkr;
  font-size: 48px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: -1.6px;
  text-align: center;
  color: var(--343-a-40);
}

.H1WhiteLeft-regular {
  font-family: NotoSansCJKkr;
  font-size: 48px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: -1.6px;
  color: var(--ffffff);
}

.H1BlackLeft-regular {
  font-family: NotoSansCJKkr;
  font-size: 48px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: -1.6px;
  color: var(--343-a-40);
}

.H1BlueGreenLeft-bold {
  font-family: NotoSansCJKkr;
  font-size: 48px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -1.6px;
  color: var(--16-a-085);
}

.H1WhiteCenter-light {
  font-family: NotoSansCJKkr;
  font-size: 48px;
  font-weight: 200;
  line-height: 1.17;
  letter-spacing: -1.6px;
  text-align: center;
  color: var(--ffffff);
}

.H1WhiteLeft-bold {
  font-family: NotoSansCJKkr;
  font-size: 48px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -1.6px;
  color: var(--ffffff);
}

.H1BlackLeft-bold {
  font-family: NotoSansCJKkr;
  font-size: 48px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -1.6px;
  color: var(--343-a-40);
}

.H1BlackCenter-Medium {
  font-family: NotoSansCJKkr;
  font-size: 48px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: -1.6px;
  text-align: center;
  color: var(--343-a-40);
}

.H1NavyBlueCenter-bold {
  font-family: NotoSansCJKkr;
  font-size: 48px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -1.6px;
  text-align: center;
  color: var(--0383-f-0);
}

.H1BlackCenter-bold {
  font-family: NotoSansCJKkr;
  font-size: 48px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -1.6px;
  text-align: center;
  color: var(--343-a-40);
}

.H1WhiteCenter-bold {
  font-family: NotoSansCJKkr;
  font-size: 48px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -1.6px;
  text-align: center;
  color: var(--ffffff);
}

.H2BlackCenter-light {
  font-family: NotoSansCJKkr;
  font-size: 42px;
  font-weight: 200;
  letter-spacing: -1.2px;
  text-align: center;
  color: var(--343-a-40);
}

.H2BlackLeft-light {
  font-family: NotoSansCJKkr;
  font-size: 42px;
  font-weight: 200;
  letter-spacing: -1.2px;
  color: var(--343-a-40);
}

.H2BlackLeft-regular {
  font-family: NotoSansCJKkr;
  font-size: 42px;
  font-weight: 400;
  letter-spacing: -1.2px;
  color: var(--343-a-40);
}

.H2BlackCenter-regular {
  font-family: NotoSansCJKkr;
  font-size: 42px;
  font-weight: 400;
  letter-spacing: -1.2px;
  text-align: center;
  color: var(--343-a-40);
}

.H2WhiteCenter-regular {
  font-family: NotoSansCJKkr;
  font-size: 42px;
  font-weight: 400;
  letter-spacing: -1.2px;
  text-align: center;
  color: var(--ffffff);
}

.H2WhiteLeft-regular {
  font-family: NotoSansCJKkr;
  font-size: 42px;
  font-weight: 400;
  letter-spacing: -1.2px;
  color: var(--ffffff);
}

.H2WhiteCenter-light {
  font-family: NotoSansCJKkr;
  font-size: 42px;
  font-weight: 200;
  letter-spacing: -1.2px;
  text-align: center;
  color: var(--ffffff);
}

.H2WhiteLeft-light {
  font-family: NotoSansCJKkr;
  font-size: 42px;
  font-weight: 200;
  letter-spacing: -1.2px;
  color: var(--ffffff);
}

.H2BlackCenter-blod {
  font-family: NotoSansCJKkr;
  font-size: 42px;
  font-weight: 600;
  letter-spacing: -1.2px;
  text-align: center;
  color: var(--343-a-40);
}

.H2WhiteCenter-blod {
  font-family: NotoSansCJKkr;
  font-size: 42px;
  font-weight: 600;
  letter-spacing: -1.2px;
  text-align: center;
  color: var(--ffffff);
}

.H2WhiteLeft-blod {
  font-family: NotoSansCJKkr;
  font-size: 42px;
  font-weight: 600;
  letter-spacing: -1.2px;
  color: var(--ffffff);
}

.H2BlackLeft-blod {
  font-family: NotoSansCJKkr;
  font-size: 42px;
  font-weight: 600;
  letter-spacing: -1.2px;
  color: var(--343-a-40);
}

.H3NavyBlueLeft-bold {
  font-family: NotoSansCJKkr;
  font-size: 36px;
  font-weight: 600;
  letter-spacing: -1px;
  color: var(--0383-f-0);
}

.H3NavyBlueLeft-light {
  font-family: NotoSansCJKkr;
  font-size: 36px;
  font-weight: 200;
  letter-spacing: -1px;
  color: var(--0383-f-0);
}

.H3NavyBlueCenter-bold {
  font-family: NotoSansCJKkr;
  font-size: 36px;
  font-weight: 600;
  letter-spacing: -1px;
  text-align: center;
  color: var(--0383-f-0);
}

.H3WhiteCenter-light {
  font-family: NotoSansCJKkr;
  font-size: 36px;
  font-weight: 200;
  letter-spacing: -1px;
  text-align: center;
  color: var(--ffffff);
}


.H3WhiteLeft-regular {
  font-family: NotoSansCJKkr;
  font-size: 36px;
  font-weight: 400;
  letter-spacing: -1px;
  color: var(--ffffff);
}

.H3OrangeLeft-light {
  font-family: NotoSansCJKkr;
  font-size: 36px;
  font-weight: 200;
  letter-spacing: -1px;
  color: var(--pumpkin-orange);
}

.H3OrangeCenter-bold {
  font-family: NotoSansCJKkr;
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  letter-spacing: -1px;
  color: var(--pumpkin-orange);
}

.H3BlackCenter-regular {
  font-family: NotoSansCJKkr;
  font-size: 36px;
  font-weight: 400;
  letter-spacing: -1px;
  text-align: center;
  color: var(--495057);
}

.H3BlackLeft-light {
  font-family: NotoSansCJKkr;
  font-size: 36px;
  font-weight: 200;
  letter-spacing: -1px;
  color: var(--495057);
}


.H3BlackLeft-medium {
  font-family: NotoSansCJKkr;
  font-size: 36px;
  font-weight: 500;
  letter-spacing: -1px;
  color: var(--495057);
}

.H3BlackLeft-bold {
  font-family: NotoSansCJKkr;
  font-size: 36px;
  font-weight: 600;
  letter-spacing: -1px;
  color: var(--495057);
}

.H3WhiteLeft-bold {
  font-family: NotoSansCJKkr;
  font-size: 36px;
  font-weight: 600;
  letter-spacing: -1px;
  color: var(--ffffff);
}

.H3OrangeLeft-light {
  font-family: NotoSansCJKkr;
  font-size: 36px;
  font-weight: 400;
  letter-spacing: -1px;
  color: var(--pumpkin-orange);
}

.H3BlueLeft-light {
  font-family: NotoSansCJKkr;
  font-size: 36px;
  font-weight: 400;
  letter-spacing: -1px;
  color: var(--2980-b-9);
}

.H3BlueGreenLeft-light {
  font-family: NotoSansCJKkr;
  font-size: 36px;
  font-weight: 400;
  letter-spacing: -1px;
  color: var(--16-a-085);
}

.H3OrangeLeft-bold {
  font-family: NotoSansCJKkr;
  font-size: 36px;
  font-weight: 600;
  letter-spacing: -1px;
  color: var(--pumpkin-orange);
}

.H3BlueLeft-bold {
  font-family: NotoSansCJKkr;
  font-size: 36px;
  font-weight: 600;
  letter-spacing: -1px;
  color: var(--2980-b-9);
}

.H3BlueGreenLeft-bold {
  font-family: NotoSansCJKkr;
  font-size: 36px;
  font-weight: 600;
  letter-spacing: -1px;
  color: var(--16-a-085);
}

.H3BlueGreenCenter-bold {
  font-family: NotoSansCJKkr;
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  letter-spacing: -1px;
  color: var(--16-a-085);
}

.H3BlackCenter-bold {
  font-family: NotoSansCJKkr;
  font-size: 36px;
  font-weight: 600;
  letter-spacing: -1px;
  text-align: center;
  color: var(--343-a-40);
}

.H3BlackLeft-regular {
  font-family: NotoSansCJKkr;
  font-size: 36px;
  font-weight: 400;
  letter-spacing: -1px;
  color: var(--495057);
}

.H3BlackCenter-light {
  font-family: NotoSansCJKkr;
  font-size: 36px;
  font-weight: 200;
  letter-spacing: -1px;
  text-align: center;
  color: var(--495057);
}

.H3WhiteLeft-light {
  font-family: NotoSansCJKkr;
  font-size: 36px;
  font-weight: 200;
  letter-spacing: -1px;
  color: var(--ffffff);
}

.H4BlackLeft-medium {
  font-family: NotoSansCJKkr;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: -1px;
  color: var(--343-a-40);
}

.H4WhiteLeft-light {
  font-family: NotoSansCJKkr;
  font-size: 32px;
  font-weight: 200;
  letter-spacing: -1px;
  color: var(--ffffff);
}

.H4WhiteLeft-medium {
  font-family: NotoSansCJKkr;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: -1px;
  color: var(--ffffff);
}

.H4BlackLeft-regular {
  font-family: NotoSansCJKkr;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: -1px;
  color: var(--343-a-40);
}

.H4NavyBlueLeft-medium {
  font-family: NotoSansCJKkr;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: -1px;
  color: var(--0383-f-0);
}

.H4NavyBlueCenter-regular {
  font-family: NotoSansCJKkr;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: -1px;
  text-align: center;
  color: var(--0383-f-0);
}

.H4BlackRight-regular {
  font-family: NotoSansCJKkr;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: -1px;
  text-align: right;
  color: var(--343-a-40);
}

.H4OrangeCenter-regular {
  font-family: NotoSansCJKkr;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: -1px;
  text-align: center;
  color: var(--pumpkin-orange);
}

.H4BlackLeft-bold {
  font-family: NotoSansCJKkr;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: -1px;
  color: var(--343-a-40);
}

.H4WhiteLeft-bold {
  font-family: NotoSansCJKkr;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: -1px;
  color: var(--ffffff);
}

.H5RedCenter-bold {
  font-family: NotoSansCJKkr;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.8px;
  text-align: center;
  color: #db0000;
}

.H5BlackCenter-regular {
  font-family: NotoSansCJKkr;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: -0.8px;
  text-align: center;
  color: var(--343-a-40);
}

.H5WhiteCenter-regular {
  font-family: NotoSansCJKkr;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: -0.8px;
  text-align: center;
  color: var(--ffffff);
}

.H5WhiteLeft-bold {
  font-family: NotoSansCJKkr;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.8px;
  color: var(--ffffff);
}

.H5WhiteLeft-regular {
  font-family: NotoSansCJKkr;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: -0.8px;
  color: var(--ffffff);
}

.H5GrayCenter-light {
  font-family: NotoSansCJKkr;
  font-size: 24px;
  font-weight: 200;
  letter-spacing: -1.2px;
  text-align: center;
  color: var(--868-e-96);
}

.H5BlackLeft-Medium {
  font-family: NotoSansCJKkr;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: -0.8px;
  color: var(--343-a-40);
}

.H5WhiteLeft-medium {
  font-family: NotoSansCJKkr;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: -0.8px;
  color: var(--ffffff);
}

.H5BlackLeft-bold {
  font-family: NotoSansCJKkr;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.8px;
  color: var(--343-a-40);
}

.H5BlackCenter-light {
  font-family: NotoSansCJKkr;
  font-size: 24px;
  font-weight: 200;
  letter-spacing: -0.8px;
  color: var(--343-a-40);
}

.H5BlackCenter-Medium {
  font-family: NotoSansCJKkr;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: -0.8px;
  text-align: center;
  color: var(--343-a-40);
}

.H5WhiteCenter-medium {
  font-family: NotoSansCJKkr;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: -0.8px;
  text-align: center;
  color: var(--ffffff);
}

.H5WhiteCenter-bold {
  font-family: NotoSansCJKkr;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.8px;
  text-align: center;
  color: var(--ffffff);
}

.H5BlackCenter-bold {
  font-family: NotoSansCJKkr;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.8px;
  text-align: center;
  color: var(--343-a-40);
}

.H5GrayLeft-bold {
  font-family: NotoSansCJKkr;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.8px;
  color: var(--868-e-96);
}

.H5BlackCenter-bold {
  font-family: NotoSansCJKkr;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.8px;
  text-align: center;
  color: var(--ffffff);
}

.H5BlackLeft-light {
  font-family: NotoSansCJKkr;
  font-size: 24px;
  font-weight: 200;
  letter-spacing: -0.8px;
  color: var(--343-a-40);
}

.H5BlackLeft-regular {
  font-family: NotoSansCJKkr;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: -0.8px;
  color: var(--343-a-40);
}

.H5OrangeCenter-bold {
  font-family: NotoSansCJKkr;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.8px;
  text-align: center;
  color: var(--pumpkin-orange);
}

.H5NavyBlueCenter-bold {
  font-family: NotoSansCJKkr;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.8px;
  text-align: center;
  color: var(--0383-f-0);
}

.H5BlueGreenCenter-bold {
  font-family: NotoSansCJKkr;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.8px;
  text-align: center;
  color: var(--16-a-085);
}

.H6BlackLeft-medium {
  font-family: NotoSansCJKkr;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: normal;
  color: var(--343-a-40);
}

.H6BlackLeft-light {
  font-family: NotoSansCJKkr;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: normal;
  color: var(--343-a-40);
}

.H6OrangeLeft-medium {
  font-family: NotoSansCJKkr;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: normal;
  color: var(--pumpkin-orange);
}

.H6BlackCenter-medium {
  font-family: NotoSansCJKkr;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: normal;
  text-align: center;
  color: var(--343-a-40);
}

.H6WhiteCenter-medium {
  font-family: NotoSansCJKkr;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: normal;
  text-align: center;
  color: var(--ffffff);
}

.H6BlackLeft-bold {
  font-family: NotoSansCJKkr;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: normal;
  color: var(--343-a-40);
}

.H6WhiteCenter-regular {
  font-family: NotoSansCJKkr;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: normal;
  text-align: center;
  color: var(--ffffff);
}

.H6BlackCenter-regular {
  font-family: NotoSansCJKkr;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: normal;
  text-align: center;
  color: var(--343-a-40);
}

.P1WhiteOpacity60Center-bold {
  font-family: NotoSansCJKkr;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.4px;
  text-align: center;
  color: var(--ffffff);
  opacity: 0.6;
}

.P1BlackLeft-medium {
  font-family: NotoSansCJKkr;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.4px;
  color: var(--495057);
}

.P1BlackLeft-regular {
  font-family: NotoSansCJKkr;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.4px;
  color: var(--495057);
}

.P1RedLeft-regular {
  font-family: NotoSansCJKkr;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.4px;
  color: var(--red);
}

.P1WhiteLeft-medium {
  font-family: NotoSansCJKkr;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.4px;
  color: var(--ffffff);
}

.P1WhiteLeft-regular {
  font-family: NotoSansCJKkr;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.4px;
  color: var(--ffffff);
}

.P1BlackCenter-bold {
  font-family: NotoSansCJKkr;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.4px;
  color: var(--495057);
}

.P1Gray1Center-light {
  font-family: NotoSansCJKkr;
  font-size: 18px;
  font-weight: 200;
  letter-spacing: -0.4px;
  text-align: center;
  color: var(--868-e-96);
}


.P1Gray1Center-bold {
  font-family: NotoSansCJKkr;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.4px;
  text-align: center;
  color: var(--868-e-96);
}

.P1Gray1Center-regular {
  font-family: NotoSansCJKkr;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.4px;
  text-align: center;
  color: var(--868-e-96);
}

.P1WhiteCenter-regular {
  font-family: NotoSansCJKkr;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.4px;
  text-align: center;
  color: var(--ffffff);
}

.P1WhiteCenter-medium {
  font-family: NotoSansCJKkr;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.4px;
  text-align: center;
  color: var(--ffffff);
}

.P1BlackRight-regular {
  font-family: NotoSansCJKkr;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.4px;
  text-align: right;
  color: var(--495057);
}

.P1Gray1Left-regular {
  font-family: NotoSansCJKkr;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.4px;
  color: var(--868-e-96);
}

.P1Gray1Left-bold {
  font-family: NotoSansCJKkr;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.4px;
  color: var(--868-e-96);
}

.P1Gray1Right-light {
  font-family: NotoSansCJKkr;
  font-size: 18px;
  font-weight: 200;
  letter-spacing: -0.4px;
  text-align: right;
  color: var(--868-e-96);
}

.P1BlackCenter-medium {
  font-family: NotoSansCJKkr;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.4px;
  text-align: center;
  color: var(--495057);
}

.P1BlackCenter-regular {
  font-family: NotoSansCJKkr;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.4px;
  text-align: center;
  color: var(--495057);
}

.P2WhiteLeft-medium {
  font-family: NotoSansCJKkr;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.4px;
  color: var(--ffffff);
}

.P2WhiteLeft-regular {
  font-family: NotoSansCJKkr;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.4px;
  color: var(--ffffff);
}

.P2BlackLeft-medium {
  font-family: NotoSansCJKkr;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.4px;
  color: var(--495057);
}

.P2BlackLeft-regular {
  font-family: NotoSansCJKkr;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.4px;
  color: var(--495057);
}

.P2Gray1Left-regular {
  font-family: NotoSansCJKkr;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.4px;
  color: var(--868-e-96);
}

.P2WhiteCenter-medium {
  font-family: NotoSansCJKkr;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.4px;
  text-align: center;
  color: var(--ffffff);
}

.P2BlackCenter-medium {
  font-family: NotoSansCJKkr;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.4px;
  text-align: center;
  color: var(--495057);
}

.P2WhiteCenter-regular {
  font-family: NotoSansCJKkr;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.4px;
  text-align: center;
  color: var(--ffffff);
}

.P2Gray2Left-regular {
  font-family: NotoSansCJKkr;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.4px;
  color: var(--light-grey-blue);
}

.P2BlueLeft-regular {
  font-family: NotoSansCJKkr;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.4px;
  color: var(--2980-b-9);
}

.P2NavyBlueLeft-regular {
  font-family: NotoSansCJKkr;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.4px;
  color: var(--0383-f-0);
}

.P2OrangeLeft-regular {
  font-family: NotoSansCJKkr;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.4px;
  color: var(--pumpkin-orange);
}

.P2BlueGreenLeft-regular {
  font-family: NotoSansCJKkr;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.4px;
  color: var(--16-a-085);
}

.P3Gray1Left-bold {
  font-family: NotoSansCJKkr;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: normal;
  text-align: right;
  color: var(--868-e-96);
}

.P3Gray1Left-medium {
  font-family: NotoSansCJKkr;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.4px;
  color: var(--868-e-96);
}

.P3WhiteCenter-medium {
  font-family: NotoSansCJKkr;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: normal;
  text-align: center;
  color: var(--ffffff);
}

.P3WhiteLeft-medium {
  font-family: NotoSansCJKkr;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: normal;
  color: var(--ffffff);
}

.P3Gray1Left-regular {
  font-family: NotoSansCJKkr;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.4px;
  color: var(--868-e-96);
}

.P3WhiteOpacyty60Left-bold {
  font-family: NotoSansCJKkr;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: normal;
  text-align: right;
  color: var(--ffffff);
  opacity: 0.6;
}

.P3WhiteOpacyty60Left-regular {
  font-family: NotoSansCJKkr;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: normal;
  text-align: right;
  color: var(--ffffff);
  opacity: 0.6;
}

.P3BlackLeft-bold {
  font-family: NotoSansCJKkr;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: normal;
  color: var(--495057);
}

.P3BlackLeft-regular {
  font-family: NotoSansCJKkr;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: normal;
  color: var(--495057);
}

.P4Gray1Left-regular {
  font-family: NotoSansCJKkr;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.4px;
  color: var(--868-e-96);
}

.P4Gray1Center-regular {
  font-family: NotoSansCJKkr;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.4px;
  text-align: center;
  color: var(--868-e-96);
}

.P4BlackCenter-medium {
  font-family: NotoSansCJKkr;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: normal;
  text-align: center;
  color: var(--495057);
}
