<!-- <div id="allmenu"> -->
    <a id="allm_close" href="#"><img src="../images/allmenu_close.png"></a>
    <div id="allmenu_con"> 
        <ul>
            <li><p class="H3BlueGreenCenter-bold">가맹점</p></li>
            <li><a class="H5WhiteCenter-regular" href="smain0101.html">개요</a></li>
            <li><a class="H5WhiteCenter-regular" href="smain0102.html">신청 방법</a></li>
            <li><a class="H5WhiteCenter-regular" href="smain0103.html">계약사항</a></li>
            <!-- <li><a class="H5WhiteCenter-regular" href="smain0104.html">오류 시 조치 방법</a></li> -->
            <li><a class="H5WhiteCenter-regular" href="smain0106.html">After service</a></li>
            <!-- <li><a class="H5WhiteCenter-regular" href="smain0106.html">운영</a></li> -->
        </ul>
        <ul>
            <li><p class="H3OrangeCenter-bold">TJ 대리점</p></li>
            <li><a class="H5WhiteCenter-regular" href="smain0201.html">설치 절차</a></li>
            <li><a class="H5WhiteCenter-regular" href="smain0202.html">설치 방법</a></li>
            <li><a class="H5WhiteCenter-regular" href="smain0203.html">반주기 설정</a></li>
            <li><a class="H5WhiteCenter-regular" href="smain0204.html">개시거래</a></li>
            <li><a class="H5WhiteCenter-regular" href="smain0205.html">신용카드 단말기 설정</a></li>
            <!-- <li><a class="H5WhiteCenter-regular" href="smain0206.html">오류 시 조치 방법</a></li> -->
            <li><a class="H5WhiteCenter-regular" href="smain0207.html">After Service</a></li>
        </ul>
        <ul>
            <li><p class="H3NavyBlueCenter-bold">회사소개</p></li>
            <li><a class="H5WhiteCenter-regular" href="smain0301.html">CEO 인사말</a></li>
            <li><a class="H5WhiteCenter-regular" href="smain0302.html">회사이념</a></li>
            <li><a class="H5WhiteCenter-regular" href="smain0303.html">연혁</a></li>
            <li><a class="H5WhiteCenter-regular" href="smain0304.html">조직도</a></li>
            <li><a class="H5WhiteCenter-regular" href="smain0305.html">소프트웨어</a></li>
            <li><a class="H5WhiteCenter-regular" href="smain0306.html">하드웨어</a></li>
            <li><a class="H5WhiteCenter-regular" href="smain0307.html">오시는 길</a></li>
        </ul>
    </div>        
<!-- </div> -->

<script type="text/javascript">
    var popupContainer = document.getElementById('sitemap_btn'),
        popupBox = document.getElementById('allmenu');
        sitemap_close = document.getElementById('allm_close');

    popupContainer.onclick = function () {
        if (popupBox.style.display === 'block') {
            popupBox.style.display = 'none';
        } else {
            popupBox.style.display = 'block';
        }
    };

    sitemap_close.onclick = function () {
        popupBox.style.display = 'none';
    }
</script>
