<div id="upArrowBtnWrap">
    <div id="upArrowBtn"><a href="#"><img src="../images/smain/UpArrowBtn.png"></a></div>
</div>  

<div id="SMfooter">
    <!-- <div id="SMfooterLine"></div> -->
    <!-- <div id="Footer-copyright">
        <p id="Footer-copyright-txt" class="P4Gray1Left-regular">COPYRIGHT 2018 USISNET Co., Ltd. ALL RIGHTS RESERVED.</p>
    </div> -->
    <div id="SMfooter-list">            
        <ul id="SMfooter-list01">
            <li id="SMfooter-list01-logo"><img src="../images/smain/usisnet-logo-color-white.png" class="SMfooter-usisnet-logo-white"></li>
            <li id="SMfooter-list01-adr" class="P4Gray1Left-regular">서울 강서구 등촌로 51길 14, 201호(태진B/D) 07667</li>
            <!-- <li id="SMfooter-list01-tel" class="P4Gray1Left-regular">02.2653.9880</li>
            <li id="SMfooter-list01-fax" class="P4Gray1Left-regular">02.2653.9887</li> -->
            <li id="SMfooter-list01-email" class="P4Gray1Left-regular">call@usisnet.co.kr</li>
        </ul>
        <ul id="SMfooter-list02">
            <li><img src="../images/smain/footer_img01.png"></li>
            <li><img src="../images/smain/footer_img02.png"></li>
            <li><a href="http://www.usisnet.co.kr/kr/download/TeamViewerQS_ko-idcj7s7v45.exe" target="_blank"><img src="../images/smain/footer_img03.png" style="width: 188px; height: 135px;"></a></li>
            <!-- <li>
                <ul>           
                    <li id="SMfooter-btn01"><a href="http://www.usisnet.co.kr/kr/download/minipay_BasicManual.pdf" target="_blank"></a></li>
                    <li id="SMfooter-btn02"><a href="http://www.usisnet.co.kr/kr/download/TeamViewerQS_ko-idcj7s7v45.exe" target="_blank"></a></li>
                </ul>
            </li> -->
        </ul>
    </div>
</div>