<div id="mo_SMheader01" class="mo mo_submain_contant mo_submain_type01">
        <!-- <div id="SMheaderLine"></div> -->
        <ul class="SMbg">
            <li><img src="../images/smain/smain01/menu-bg-1-y.png"></li>
            <li><img src="../images/smain/smain01/pattern-1.png"></li>
            <li><img src="../images/smain/smain01/smtitle-bluegreen.png"></li>
        </ul>
        <div id="mo_SMheader01-top" class="mo_submain_top">
            <div class="SMheader01-top-logo">
                <a href="../index.html"><img src="../images/smain/usisnet-logo-color-white.png" class="SMheader01-usisnet-logo-white"></a>
            </div>
            <button class="mo mo_btn_menu" type="button"><span class="burger"><span></span></span></button>
        </div>

        <!--<div data-include="top_menu_inc.html"></div> -->
    </div>
</div>