<div id="mo_SMheader02" class="mo mo_submain_contant mo_submain_type02">
        <!-- <div id="SMheaderLine"></div> -->
        <ul class="SMbg">
            <li><img src="../images/smain/smain02/menu-bg-2-y.png"></li>
            <li><img src="../images/smain/smain02/pattern-2.png"></li>
            <li><img src="../images/smain/smain02/smtitle-orange.png"></li>
        </ul>
        <div id="mo_SMheader02-top" class="mo_submain_top">
            <div class="SMheader02-top-logo">
                <a href="../index.html"><img src="../images/smain/usisnet-logo-color-white.png" class="SMheader02-usisnet-logo-white"></a>
            </div>
            <button class="mo mo_btn_menu" type="button"><span class="burger"><span></span></span></button>
        </div>

        <!--<div data-include="top_menu_inc.html"></div> -->
    </div>
</div>