<div id="mo_SMheader03" class="mo mo_submain_contant mo_submain_type03">
        <!-- <div id="SMheaderLine"></div> -->
        <ul class="SMbg">
            <li><img src="../images/smain/smain03/fill-13-copy-looper.png"></li>
            <li><img src="../images/smain/smain03/pattern-4.png"></li>
            <li><img src="../images/smain/smain03/navy-blue.png"></li>
        </ul>
        <div id="mo_SMheader03-top" class="mo_submain_top">
            <div class="SMheader03-top-logo">
                <a href="../index.html"><img src="../images/smain/usisnet-logo-color-white.png" class="SMheader03-usisnet-logo-white"></a>
            </div>
            <button class="mo mo_btn_menu" type="button"><span class="burger"><span></span></span></button>
        </div>

        <!--<div data-include="top_menu_inc.html"></div> -->
    </div>
</div>