<div id="SMsubMenu"> 
    <nav>            
        <ul>            
            <li id="bmenu1">
                <a class="P1WhiteCenter-medium" href="smain0101.html">가맹점</a>
                <ul>          
                    <li><a id="smenu1_1" class="P2WhiteCenter-regular" href="smain0101.html">개요</a></li>
                    <li><a id="smenu1_2" class="P2WhiteCenter-regular" href="smain0102.html">신청 방법</a></li>
                    <li><a id="smenu1_3" class="P2WhiteCenter-regular" href="smain0103.html">계약사항</a></li>
                    <!-- <li><a id="smenu1_4" class="P2WhiteCenter-regular" href="smain0104.html">운영</a></li> -->
                    <!-- <li><a id="smenu1_5" class="P2WhiteCenter-regular" href="smain0105.html">오류 시 조치 방법</a></li> -->
                    <li><a id="smenu1_6" class="P2WhiteCenter-regular" href="smain0106.html">A/S</a></li>
                </ul>
            </li>

            <li id="bmenu2">
                <a class="P1WhiteCenter-medium" href="smain0201.html">TJ 대리점</a>
                <ul>
                    <li><a id="smenu2_1" class="P2WhiteCenter-regular" href="smain0201.html">설치 절차</a></li>
                    <li><a id="smenu2_2" class="P2WhiteCenter-regular" href="smain0202.html">설치 방법</a></li>
                    <li><a id="smenu2_3" class="P2WhiteCenter-regular" href="smain0203.html">반주기 설정</a></li>
                    <li><a id="smenu2_4" class="P2WhiteCenter-regular" href="smain0204.html">개시거래 </a></li>
                    <li><a id="smenu2_5" class="P2WhiteCenter-regular" href="smain0205.html">신용카드 단말기 설정</a></li>
                    <!-- <li><a id="smenu2_6" class="P2WhiteCenter-regular" href="smain0206.html">오류 시 조치 방법</a></li> -->
                    <li><a id="smenu2_7" class="P2WhiteCenter-regular" href="smain0207.html">A/S</a></li>
                </ul>
            </li>
        
            <li id="bmenu3">
                <a class="P1WhiteCenter-medium" href="smain0301.html">회사소개</a>
                <ul>
                    <li><a id="smenu3_1" class="P2WhiteCenter-regular" href="smain0301.html">CEO 인사말</a></li>
                    <li><a id="smenu3_2" class="P2WhiteCenter-regular" href="smain0302.html">회사이념</a></li>
                    <li><a id="smenu3_3" class="P2WhiteCenter-regular" href="smain0303.html">연혁</a></li>
                    <li><a id="smenu3_4" class="P2WhiteCenter-regular" href="smain0304.html">조직도</a></li>
                    <li><a id="smenu3_5" class="P2WhiteCenter-regular" href="smain0305.html">소프트웨어</a></li>
                    <li><a id="smenu3_6" class="P2WhiteCenter-regular" href="smain0306.html">하드웨어</a></li>
                    <li><a id="smenu3_7" class="P2WhiteCenter-regular" href="smain0307.html">오시는 길</a></li>
                </ul>
            </li>            
        </ul>            
    </nav>
</div>
